{
  "openapi": "3.0.3",
  "info": {
    "title": "NH투자증권 Open API — 국내금현물 (KR Gold)",
    "version": "v1",
    "description": "NH투자증권 Open API 중 **국내금현물 (KR Gold)** 자산군의 REST 및 실시간(WebSocket) API 문서입니다. (기준: API명세서 260721 / 나무 환경 · 필드명은 명세서 C열 기준)\n\n- REST: POST + JSON, 요청 Input_0 / 응답 Output_0(배열) + message.\n- 실시간: WebSocket, 푸시=JSON. x-realtime-channels.protocol 참조.\n- 인증: POST /oauth2/token → REST 는 Authorization/x-client-id/x-client-secret, WS 는 header.token."
  },
  "servers": [
    {
      "url": "https://devapi.nhplug.com:8443",
      "description": "🟢 테스트 (Test) — 실매매 전 검증 [기본]"
    },
    {
      "url": "https://moapi.nhplug.com:8443",
      "description": "🟢 모의투자 (Mock) — 교육이수"
    },
    {
      "url": "https://api.nhplug.com:8443",
      "description": "🔴 실거래 (Live) — 실제 주문 체결 (검증 후에만)"
    }
  ],
  "security": [
    {
      "BearerAuth": [],
      "ClientId": [],
      "ClientSecret": []
    }
  ],
  "x-environments": {
    "portal": "https://www.nhplug.com",
    "note": "⚠️ 실주문은 실거래(live)에서만 체결. 개발·검증은 test/mock 우선. 순서: 테스트/모의→검증→실거래. 나무(Namuh) 기준(N2 추후).",
    "test": {
      "desc": "테스트 — 실매매 전 검증",
      "rest": "https://devapi.nhplug.com:8443",
      "websocket": "wss://devapi.nhplug.com:7070"
    },
    "mock": {
      "desc": "모의투자 — 교육이수",
      "rest": "https://moapi.nhplug.com:8443",
      "websocket": "wss://moapi.nhplug.com:17070"
    },
    "live": {
      "desc": "실거래 — 실제 주문 체결",
      "rest": "https://api.nhplug.com:8443",
      "websocket": "wss://api.nhplug.com:7070"
    }
  },
  "tags": [
    {
      "name": "주문 (Order)"
    },
    {
      "name": "조회 (Inquiry)"
    },
    {
      "name": "시세 (Market Data)"
    },
    {
      "name": "실시간 (Realtime)"
    }
  ],
  "paths": {
    "/krgold/order/v1/goldBuy": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krgoldOrderGoldBuy",
        "summary": "금현물 매수주문",
        "description": "금현물 주문 접수 시 실시간으로 수신됩니다.\n\n원본 시트: API_국내_금현물_주문_매수",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> 금 1kg인 경우, M04020000"
                      },
                      "orr_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문수량 / 길이 18"
                      },
                      "orr_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "주문가격 / 길이 15.3"
                      },
                      "orr_amt": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문금액 / 길이 18"
                      },
                      "orr_cnd_dit_cd": {
                        "type": "string",
                        "description": "주문조건구분코드 / 길이 2 / 00.없음 01.IOC 02.FOK"
                      },
                      "ivs_uag_yn": {
                        "type": "string",
                        "description": "투자용도여부 / 길이 1 / 1.산업용 2.투자용"
                      }
                    },
                    "required": [
                      "act_no",
                      "iem_cd",
                      "orr_qty",
                      "orr_pr",
                      "orr_cnd_dit_cd",
                      "ivs_uag_yn"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orr_gno_tab_cd": {
                            "type": "string",
                            "description": "주문채번팀점코드 / 길이 4"
                          },
                          "mkt_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "시장주문번호 / 길이 10"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krgold/order/v1/goldSell": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krgoldOrderGoldSell",
        "summary": "금현물 매도주문",
        "description": "원본 시트: API_국내_금현물_주문_매도",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> 금 1kg인 경우, M04020000"
                      },
                      "orr_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문수량 / 길이 18"
                      },
                      "orr_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "주문가격 / 길이 15.3"
                      },
                      "orr_amt": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문금액 / 길이 18"
                      },
                      "orr_cnd_dit_cd": {
                        "type": "string",
                        "description": "주문조건구분코드 / 길이 2 / 00.없음 01.IOC 02.FOK"
                      },
                      "ivs_uag_yn": {
                        "type": "string",
                        "description": "투자용도여부 / 길이 1 / 1.산업용 2.투자용"
                      }
                    },
                    "required": [
                      "act_no",
                      "iem_cd",
                      "orr_qty",
                      "orr_pr",
                      "orr_cnd_dit_cd",
                      "ivs_uag_yn"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orr_gno_tab_cd": {
                            "type": "string",
                            "description": "주문채번팀점코드 / 길이 4"
                          },
                          "mkt_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "시장주문번호 / 길이 10"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krgold/order/v1/goldModify": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krgoldOrderGoldModify",
        "summary": "금현물 정정주문",
        "description": "원본 시트: API_국내_금현물_주문_정정",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "org_mkt_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "원시장주문번호 / 길이 10"
                      },
                      "all_pat_dit_cd": {
                        "type": "string",
                        "description": "전체일부구분코드 / 길이 1 / 1.잔량(전체) 2.일부"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> 금 1kg인 경우, M04020000"
                      },
                      "cor_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "정정수량 / 길이 18"
                      },
                      "cor_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "정정가격 / 길이 15.3"
                      }
                    },
                    "required": [
                      "act_no",
                      "org_mkt_orr_no",
                      "all_pat_dit_cd",
                      "iem_cd",
                      "cor_pr"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orr_gno_tab_cd": {
                            "type": "string",
                            "description": "주문채번팀점코드 / 길이 4"
                          },
                          "mkt_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "시장주문번호 / 길이 10"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krgold/order/v1/goldCancel": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krgoldOrderGoldCancel",
        "summary": "금현물 취소주문",
        "description": "원본 시트: API_국내_금현물_주문_취소",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "org_mkt_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "원시장주문번호 / 길이 10"
                      },
                      "all_pat_dit_cd": {
                        "type": "string",
                        "description": "전체일부구분코드 / 길이 1 / 1.잔량(전체) 2.일부"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> 금 1kg인 경우, M04020000"
                      },
                      "cor_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "정정수량 / 길이 18"
                      }
                    },
                    "required": [
                      "act_no",
                      "org_mkt_orr_no",
                      "all_pat_dit_cd",
                      "iem_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orr_gno_tab_cd": {
                            "type": "string",
                            "description": "주문채번팀점코드 / 길이 4"
                          },
                          "mkt_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "시장주문번호 / 길이 10"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krgold/inquiry/v1/goldOrderableQuantity": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "krgoldInquiryGoldOrderableQuantity",
        "summary": "금현물 주문가능수량조회",
        "description": "원본 시트: API_국내_금현물_조회_주문가능수량",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "sby_dit_cd": {
                        "type": "string",
                        "description": "매매구분코드 / 길이 1 / 1.매도 2.매수"
                      },
                      "orr_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "주문가격 / 길이 15.3"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> 금 1kg인 경우, M04020000"
                      }
                    },
                    "required": [
                      "act_no",
                      "sby_dit_cd",
                      "iem_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orr_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능수량 / 길이 10"
                          },
                          "orr_pbl_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능금액9 / 길이 18"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/krgold/inquiry/v1/goldExecution": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "krgoldInquiryGoldExecution",
        "summary": "금현물 주문체결조회",
        "description": "원본 시트: API_국내_금현물_조회_체결",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "orr_dt": {
                        "type": "string",
                        "description": "주문일자 / 길이 8 / YYYYMMDD"
                      },
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "itg_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "통합주문번호 / 길이 10"
                      },
                      "orr_mkt_cd": {
                        "type": "string",
                        "description": "주문시장코드 / 길이 2 / 08.금현물"
                      },
                      "ost_cns_dit": {
                        "type": "string",
                        "description": "체결구분 / 길이 1 / 0.전체 1.미체결 2.체결"
                      }
                    },
                    "required": [
                      "orr_dt",
                      "act_no",
                      "ost_cns_dit"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cus_fnm": {
                            "type": "string",
                            "description": "고객성명 / 길이 40"
                          },
                          "itg_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "통합주문번호 / 길이 11"
                          },
                          "orr_mkt_cd_nm": {
                            "type": "string",
                            "description": "주문시장코드명 / 길이 50"
                          },
                          "mo_itg_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "모통합주문번호 / 길이 11"
                          },
                          "org_itg_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "원통합주문번호 / 길이 11"
                          },
                          "iem_cd": {
                            "type": "string",
                            "description": "종목코드 / 길이 12"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 50"
                          },
                          "sby_dit_cd_nm": {
                            "type": "string",
                            "description": "매매구분코드명 / 길이 50"
                          },
                          "cor_can_dit_cd_nm": {
                            "type": "string",
                            "description": "정정취소구분코드명 / 길이 4"
                          },
                          "lon_dt": {
                            "type": "string",
                            "description": "대출일자 / 길이 8"
                          },
                          "cfd_lon_cd": {
                            "type": "string",
                            "description": "신용대출코드 / 길이 20 / 00.일반거래 01.유통융자 02.자기융자 03.유통대주 04.자기대주 10.매입자금대출"
                          },
                          "nmn_pr_tp_cd_nm": {
                            "type": "string",
                            "description": "호가유형코드명 / 길이 30"
                          },
                          "orr_cnd_dit_cd_nm": {
                            "type": "string",
                            "description": "주문조건구분코드명 / 길이 60"
                          },
                          "orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문수량 / 길이 19"
                          },
                          "orr_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "주문가격 / 길이 15.3"
                          },
                          "tot_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총체결수량 / 길이 23"
                          },
                          "cns_avg_uit_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "체결평균단가 / 길이 15.3"
                          },
                          "cns_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "체결금액 / 길이 16"
                          },
                          "cns_cnt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "체결건수 / 길이 19"
                          },
                          "ny_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "미체결수량 / 길이 23"
                          },
                          "cor_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "정정수량 / 길이 19"
                          },
                          "can_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "취소수량 / 길이 19"
                          },
                          "orr_tm": {
                            "type": "string",
                            "description": "주문시각 / 길이 9"
                          },
                          "orr_mdi": {
                            "type": "string",
                            "description": "주문매체 / 길이 20"
                          },
                          "bnd_byn_dt": {
                            "type": "string",
                            "description": "채권매수일자 / 길이 8"
                          },
                          "syn_ttn_dit_cd_nm": {
                            "type": "string",
                            "description": "종합과세구분코드명 / 길이 50"
                          },
                          "orr_rjt_rsn_cd_nm": {
                            "type": "string",
                            "description": "주문거부사유코드명 / 길이 4"
                          },
                          "pcs_emp_no": {
                            "type": "string",
                            "description": "처리사원번호 / 길이 6"
                          },
                          "rmt_mkt_cd": {
                            "type": "string",
                            "description": "요청시장코드 / 길이 3 / SOR/KRX/NXT"
                          },
                          "sor_mkt_sli_yn": {
                            "type": "string",
                            "description": "SOR시장분할여부 / 길이 1 / Y.분할 N.미분할"
                          },
                          "krx_lnt_opi_sec_co_cd": {
                            "type": "string",
                            "description": "거래소대량상대증권회사코드 / 길이 5"
                          },
                          "krx_lnt_opi_act_no": {
                            "type": "string",
                            "description": "거래소대량상대계좌번호 / 길이 12"
                          },
                          "krx_lnt_cnf_cpl_hur": {
                            "type": "string",
                            "description": "거래소대량협의완료시간 / 길이 9"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/krgold/inquiry/v1/goldDepositAndBalance": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "krgoldInquiryGoldDepositAndBalance",
        "summary": "금현물 예수금및잔고",
        "description": "원본 시트: API_국내_금현물_조회_잔고",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      }
                    },
                    "required": [
                      "act_no"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dca": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예수금 / 길이 18"
                          },
                          "nxt_dd_dca": {
                            "type": "integer",
                            "format": "int64",
                            "description": "익일예수금 / 길이 15 / D+1 예수금"
                          },
                          "nxt2_dd_dca": {
                            "type": "integer",
                            "format": "int64",
                            "description": "익익일예수금 / 길이 18 / D+2 예수금"
                          },
                          "fc_dca": {
                            "type": "integer",
                            "format": "int64",
                            "description": "외화예수금 / 길이 18"
                          },
                          "fc_mgg_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "외화담보금액 / 길이 18"
                          },
                          "fc_orr_pbl_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "외화주문가능금액 / 길이 18"
                          },
                          "drn_pbl_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "출금가능금액 / 길이 18"
                          },
                          "fnn_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "융자금액 / 길이 18"
                          },
                          "mgg_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "담보비율 / 길이 11.8"
                          },
                          "rit_eal_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "권리평가금액 / 길이 18"
                          },
                          "orr_pbl_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능금액 / 길이 18"
                          },
                          "nas_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "순자산금액 / 길이 18"
                          },
                          "tot_aet_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총자산금액 / 길이 18"
                          },
                          "tot_byn_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총매수금액 / 길이 18"
                          },
                          "tot_eal_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총평가금액 / 길이 18"
                          },
                          "tot_eal_pls": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총평가손익 / 길이 18"
                          },
                          "pft_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "수익율 / 길이 15.9"
                          },
                          "rba": {
                            "type": "integer",
                            "format": "int64",
                            "description": "미수금 / 길이 18"
                          },
                          "int_ny_pmt_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "이자미납부금액 / 길이 18"
                          },
                          "ny_rdp_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "미상환금액 / 길이 18"
                          },
                          "ect_lga": {
                            "type": "integer",
                            "format": "int64",
                            "description": "기타대여금 / 길이 18"
                          },
                          "lon_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "대출금액 / 길이 18"
                          },
                          "sba_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "대용금액 / 길이 18"
                          },
                          "orr_pbl_amt1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능금액1 / 길이 18 / 20%주문가능금액"
                          },
                          "orr_pbl_amt2": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능금액2 / 길이 18 / 30%주문가능금액"
                          },
                          "orr_pbl_amt3": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능금액3 / 길이 18 / 40%주문가능금액"
                          },
                          "orr_pbl_amt4": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능금액4 / 길이 18 / 100%주문가능금액"
                          },
                          "slo_mgg_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "대주담보금액 / 길이 18"
                          },
                          "csh_wtm": {
                            "type": "integer",
                            "format": "int64",
                            "description": "현금증거금 / 길이 18"
                          },
                          "sba_wtm": {
                            "type": "integer",
                            "format": "int64",
                            "description": "대용증거금 / 길이 18"
                          },
                          "sll_edn_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도증거금액 / 길이 18"
                          },
                          "cfd_pdt_tp_nm": {
                            "type": "string",
                            "description": "신용상품유형명 / 길이 20"
                          },
                          "act_atv_tp_dtl_cd": {
                            "type": "string",
                            "description": "계좌활동유형세부코드 / 길이 3 / 101: 활동 102: 휴면 401: 고객요청폐쇄"
                          },
                          "act_no": {
                            "type": "string",
                            "description": "계좌번호 / 길이 11"
                          },
                          "pdt_tp_nm": {
                            "type": "string",
                            "description": "상품유형명 / 길이 50"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 60"
                          },
                          "iem_cd": {
                            "type": "string",
                            "description": "종목코드 / 길이 12"
                          },
                          "tp_cd_nm": {
                            "type": "string",
                            "description": "유형코드명 / 길이 30"
                          },
                          "itg_bnc_qty": {
                            "type": "number",
                            "format": "double",
                            "description": "통합잔고수량 / 길이 21.6"
                          },
                          "ny_stl_qty": {
                            "type": "number",
                            "format": "double",
                            "description": "미결제수량 / 길이 21.6"
                          },
                          "rsdl_qty": {
                            "type": "number",
                            "format": "double",
                            "description": "잔량수량 / 길이 21.6"
                          },
                          "phs_pr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매입가격 / 길이 18"
                          },
                          "now_pr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "현재가격 / 길이 18"
                          },
                          "byn_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수금액 / 길이 18"
                          },
                          "eal_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "평가금액 / 길이 18"
                          },
                          "eal_pls_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "평가손익금액 / 길이 18"
                          },
                          "sll_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도금액 / 길이 18"
                          },
                          "sll_pls_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도손익금액 / 길이 18"
                          },
                          "syn_ttn_dit_cd": {
                            "type": "string",
                            "description": "종합과세구분코드 / 길이 1"
                          },
                          "syn_ttn_dit_cd_nm": {
                            "type": "string",
                            "description": "종합과세구분코드명 / 길이 20"
                          },
                          "crm_aet_cfc_cd": {
                            "type": "string",
                            "description": "CRM자산분류코드 / 길이 2"
                          },
                          "ctc_int_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "약정이자율 / 길이 11.8"
                          },
                          "lon_byn_dt": {
                            "type": "string",
                            "description": "대출매수일자 / 길이 8"
                          },
                          "xrn_dt": {
                            "type": "string",
                            "description": "만기일자 / 길이 8"
                          },
                          "wtm_rt": {
                            "type": "string",
                            "description": "증거금율 / 길이 10"
                          },
                          "lon_bnc_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "대출잔고금액 / 길이 18"
                          },
                          "iem_mlf_cd": {
                            "type": "string",
                            "description": "종목중분류코드 / 길이 5"
                          },
                          "itg_bnc_tp_cd": {
                            "type": "string",
                            "description": "통합잔고유형코드 / 길이 3"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/krgold/quote/v1/goldCurrent": {
      "post": {
        "tags": [
          "시세 (Market Data)"
        ],
        "operationId": "krgoldQuoteGoldCurrent",
        "summary": "금현물 현재가",
        "description": "원본 시트: API_국내_금현물_시세_현재가",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 9 / 예시> 금 1kg인 경우, M04020000"
                      }
                    },
                    "required": [
                      "iem_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "iem_cd": {
                            "type": "string",
                            "description": "종목코드 / 길이 9"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 40"
                          },
                          "stop": {
                            "type": "string",
                            "description": "거래구분 / 길이 1 / 0.정상 이외 정지"
                          },
                          "stck_sdpr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "기준가 / 길이 9"
                          },
                          "stck_sspr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "대용가 / 길이 9"
                          },
                          "stck_prdy_clpr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "전일종가 / 길이 9"
                          },
                          "stck_mxpr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "상한가 / 길이 9"
                          },
                          "stck_llam": {
                            "type": "integer",
                            "format": "int64",
                            "description": "하한가 / 길이 9"
                          },
                          "d5_hgpr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "5일고가 / 길이 9"
                          },
                          "d5_hgpr_date": {
                            "type": "string",
                            "description": "5일고가일 / 길이 8"
                          },
                          "d5_lwpr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "5일저가 / 길이 9"
                          },
                          "d5_lwpr_date": {
                            "type": "string",
                            "description": "5일저가일 / 길이 8"
                          },
                          "d20_hgpr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "20일고가 / 길이 9"
                          },
                          "d20_hgpr_date": {
                            "type": "string",
                            "description": "20일고가일 / 길이 8"
                          },
                          "d20_lwpr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "20일저가 / 길이 9"
                          },
                          "d20_lwpr_date": {
                            "type": "string",
                            "description": "20일저가일 / 길이 8"
                          },
                          "w52_hgpr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "52주최고가 / 길이 9"
                          },
                          "w52_hgpr_date": {
                            "type": "string",
                            "description": "52주최고가일 / 길이 8"
                          },
                          "w52_lwpr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "52주최저가 / 길이 9"
                          },
                          "w52_lwpr_date": {
                            "type": "string",
                            "description": "52주최저가일 / 길이 8"
                          },
                          "bsop_hour": {
                            "type": "string",
                            "description": "체결시간 / 길이 8"
                          },
                          "stck_prpr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "현재가 / 길이 9"
                          },
                          "prdy_vrss_sign": {
                            "type": "string",
                            "description": "등락부호 / 길이 1 / 1or6.상한가 2or7.상승 3or0.보합 4or8.하한 5or9.하락 그외.보함+리버스(기세)"
                          },
                          "prdy_vrss": {
                            "type": "integer",
                            "format": "int64",
                            "description": "등락폭 / 길이 9"
                          },
                          "prdy_ctrt": {
                            "type": "number",
                            "format": "float",
                            "description": "등락률 / 길이 5.2"
                          },
                          "stck_oprc": {
                            "type": "integer",
                            "format": "int64",
                            "description": "시가 / 길이 9"
                          },
                          "stck_hgpr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "고가 / 길이 9"
                          },
                          "stck_lwpr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "저가 / 길이 9"
                          },
                          "acml_vol": {
                            "type": "number",
                            "format": "double",
                            "description": "거래량 / 길이 12"
                          },
                          "acml_tr_pbmn": {
                            "type": "number",
                            "format": "double",
                            "description": "거래대금 / 길이 10"
                          },
                          "min_askp1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도호가 / 길이 9"
                          },
                          "min_bidp1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수호가 / 길이 9"
                          },
                          "h_bsop_hour": {
                            "type": "string",
                            "description": "호가시간 / 길이 8"
                          },
                          "askp1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도1차선호가 / 길이 9"
                          },
                          "askp2": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도2차선호가 / 길이 9"
                          },
                          "askp3": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도3차선호가 / 길이 9"
                          },
                          "askp4": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도4차선호가 / 길이 9"
                          },
                          "askp5": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도5차선호가 / 길이 9"
                          },
                          "askp6": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도6차선호가 / 길이 9"
                          },
                          "askp7": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도7차선호가 / 길이 9"
                          },
                          "askp8": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도8차선호가 / 길이 9"
                          },
                          "askp9": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도9차선호가 / 길이 9"
                          },
                          "askp10": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도10차선호가 / 길이 9"
                          },
                          "bidp1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수1차선호가 / 길이 9"
                          },
                          "bidp2": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수2차선호가 / 길이 9"
                          },
                          "bidp3": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수3차선호가 / 길이 9"
                          },
                          "bidp4": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수4차선호가 / 길이 9"
                          },
                          "bidp5": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수5차선호가 / 길이 9"
                          },
                          "bidp6": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수6차선호가 / 길이 9"
                          },
                          "bidp7": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수7차선호가 / 길이 9"
                          },
                          "bidp8": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수8차선호가 / 길이 9"
                          },
                          "bidp9": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수9차선호가 / 길이 9"
                          },
                          "bidp10": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수10차선호가 / 길이 9"
                          },
                          "askp_rsqn1": {
                            "type": "number",
                            "format": "double",
                            "description": "매도1차선잔량 / 길이 12"
                          },
                          "askp_rsqn2": {
                            "type": "number",
                            "format": "double",
                            "description": "매도2차선잔량 / 길이 12"
                          },
                          "askp_rsqn3": {
                            "type": "number",
                            "format": "double",
                            "description": "매도3차선잔량 / 길이 12"
                          },
                          "askp_rsqn4": {
                            "type": "number",
                            "format": "double",
                            "description": "매도4차선잔량 / 길이 12"
                          },
                          "askp_rsqn5": {
                            "type": "number",
                            "format": "double",
                            "description": "매도5차선잔량 / 길이 12"
                          },
                          "askp_rsqn6": {
                            "type": "number",
                            "format": "double",
                            "description": "매도6차선잔량 / 길이 12"
                          },
                          "askp_rsqn7": {
                            "type": "number",
                            "format": "double",
                            "description": "매도7차선잔량 / 길이 12"
                          },
                          "askp_rsqn8": {
                            "type": "number",
                            "format": "double",
                            "description": "매도8차선잔량 / 길이 12"
                          },
                          "askp_rsqn9": {
                            "type": "number",
                            "format": "double",
                            "description": "매도9차선잔량 / 길이 12"
                          },
                          "askp_rsqn10": {
                            "type": "number",
                            "format": "double",
                            "description": "매도10차선잔량 / 길이 12"
                          },
                          "bidp_rsqn1": {
                            "type": "number",
                            "format": "double",
                            "description": "매수1차선잔량 / 길이 12"
                          },
                          "bidp_rsqn2": {
                            "type": "number",
                            "format": "double",
                            "description": "매수2차선잔량 / 길이 12"
                          },
                          "bidp_rsqn3": {
                            "type": "number",
                            "format": "double",
                            "description": "매수3차선잔량 / 길이 12"
                          },
                          "bidp_rsqn4": {
                            "type": "number",
                            "format": "double",
                            "description": "매수4차선잔량 / 길이 12"
                          },
                          "bidp_rsqn5": {
                            "type": "number",
                            "format": "double",
                            "description": "매수5차선잔량 / 길이 12"
                          },
                          "bidp_rsqn6": {
                            "type": "number",
                            "format": "double",
                            "description": "매수6차선잔량 / 길이 12"
                          },
                          "bidp_rsqn7": {
                            "type": "number",
                            "format": "double",
                            "description": "매수7차선잔량 / 길이 12"
                          },
                          "bidp_rsqn8": {
                            "type": "number",
                            "format": "double",
                            "description": "매수8차선잔량 / 길이 12"
                          },
                          "bidp_rsqn9": {
                            "type": "number",
                            "format": "double",
                            "description": "매수9차선잔량 / 길이 12"
                          },
                          "bidp_rsqn10": {
                            "type": "number",
                            "format": "double",
                            "description": "매수10차선잔량 / 길이 12"
                          },
                          "total_askp_rsqn": {
                            "type": "number",
                            "format": "double",
                            "description": "매도잔량합 / 길이 12"
                          },
                          "total_bidp_rsqn": {
                            "type": "number",
                            "format": "double",
                            "description": "매수잔량합 / 길이 12"
                          },
                          "marcket1z16": {
                            "type": "string",
                            "description": "시장조치1 / 길이 16"
                          },
                          "marcket2z16": {
                            "type": "string",
                            "description": "시장조치2 / 길이 16"
                          },
                          "marcket3z16": {
                            "type": "string",
                            "description": "시장조치3 / 길이 16"
                          },
                          "aspr_cls_code": {
                            "type": "string",
                            "description": "동시구분 / 길이 1 / 1.동시호가 이외 정규시장"
                          },
                          "antc_cnpr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예상체결가 / 길이 9"
                          },
                          "antc_vrss_sign": {
                            "type": "string",
                            "description": "예상체결부호 / 길이 1 / 1or6.상한가 2or7.상승 3or0.보합 4or8.하한 5or9.하락 그외.보함+리버스(기세)"
                          },
                          "antc_cntg_vrss": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예상체결등락폭 / 길이 9"
                          },
                          "antc_prdy_ctrt": {
                            "type": "number",
                            "format": "float",
                            "description": "예상체결등락률 / 길이 5.2"
                          },
                          "antc_vol": {
                            "type": "number",
                            "format": "double",
                            "description": "예상체결수량 / 길이 12"
                          },
                          "lbmaprice": {
                            "type": "number",
                            "format": "double",
                            "description": "LBMA가격 / 길이 9.3"
                          },
                          "prdy_vol": {
                            "type": "number",
                            "format": "double",
                            "description": "전일거래량 / 길이 12"
                          },
                          "tenforeprice": {
                            "type": "number",
                            "format": "double",
                            "description": "TENFORE가격 / 길이 9.3"
                          },
                          "dscs_bltr_vol": {
                            "type": "number",
                            "format": "double",
                            "description": "협의거래량 / 길이 12"
                          },
                          "massvalue": {
                            "type": "number",
                            "format": "double",
                            "description": "협의거래대금 / 길이 10"
                          },
                          "lp_askp_rsqn1": {
                            "type": "number",
                            "format": "double",
                            "description": "LP매도1차선잔량 / 길이 12"
                          },
                          "lp_askp_rsqn2": {
                            "type": "number",
                            "format": "double",
                            "description": "LP매도2차선잔량 / 길이 12"
                          },
                          "lp_askp_rsqn3": {
                            "type": "number",
                            "format": "double",
                            "description": "LP매도3차선잔량 / 길이 12"
                          },
                          "lp_askp_rsqn4": {
                            "type": "number",
                            "format": "double",
                            "description": "LP매도4차선잔량 / 길이 12"
                          },
                          "lp_askp_rsqn5": {
                            "type": "number",
                            "format": "double",
                            "description": "LP매도5차선잔량 / 길이 12"
                          },
                          "lp_askp_rsqn6": {
                            "type": "number",
                            "format": "double",
                            "description": "LP매도6차선잔량 / 길이 12"
                          },
                          "lp_askp_rsqn7": {
                            "type": "number",
                            "format": "double",
                            "description": "LP매도7차선잔량 / 길이 12"
                          },
                          "lp_askp_rsqn8": {
                            "type": "number",
                            "format": "double",
                            "description": "LP매도8차선잔량 / 길이 12"
                          },
                          "lp_askp_rsqn9": {
                            "type": "number",
                            "format": "double",
                            "description": "LP매도9차선잔량 / 길이 12"
                          },
                          "lp_askp_rsqn10": {
                            "type": "number",
                            "format": "double",
                            "description": "LP매도10차선잔량 / 길이 12"
                          },
                          "lp_bidp_rsqn1": {
                            "type": "number",
                            "format": "double",
                            "description": "LP매수1차선잔량 / 길이 12"
                          },
                          "lp_bidp_rsqn2": {
                            "type": "number",
                            "format": "double",
                            "description": "LP매수2차선잔량 / 길이 12"
                          },
                          "lp_bidp_rsqn3": {
                            "type": "number",
                            "format": "double",
                            "description": "LP매수3차선잔량 / 길이 12"
                          },
                          "lp_bidp_rsqn4": {
                            "type": "number",
                            "format": "double",
                            "description": "LP매수4차선잔량 / 길이 12"
                          },
                          "lp_bidp_rsqn5": {
                            "type": "number",
                            "format": "double",
                            "description": "LP매수5차선잔량 / 길이 12"
                          },
                          "lp_bidp_rsqn6": {
                            "type": "number",
                            "format": "double",
                            "description": "LP매수6차선잔량 / 길이 12"
                          },
                          "lp_bidp_rsqn7": {
                            "type": "number",
                            "format": "double",
                            "description": "LP매수7차선잔량 / 길이 12"
                          },
                          "lp_bidp_rsqn8": {
                            "type": "number",
                            "format": "double",
                            "description": "LP매수8차선잔량 / 길이 12"
                          },
                          "lp_bidp_rsqn9": {
                            "type": "number",
                            "format": "double",
                            "description": "LP매수9차선잔량 / 길이 12"
                          },
                          "lp_bidp_rsqn10": {
                            "type": "number",
                            "format": "double",
                            "description": "LP매수10차선잔량 / 길이 12"
                          },
                          "filler": {
                            "type": "string",
                            "description": "Filler / 길이 30"
                          },
                          "cntg_vol": {
                            "type": "number",
                            "format": "double",
                            "description": "변동거래량 / 길이 10"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krgold/quote/v1/goldDailyInvestorTrade": {
      "post": {
        "tags": [
          "시세 (Market Data)"
        ],
        "operationId": "krgoldQuoteGoldDailyInvestorTrade",
        "summary": "금현물 일별투자매매현황",
        "description": "원본 시트: API_국내_금현물_시세_일별투자매매현황",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 9 / 예시> 금 1kg인 경우, M04020000"
                      },
                      "cnt": {
                        "type": "string",
                        "description": "읽을갯수 / 길이 3 / 030"
                      }
                    },
                    "required": [
                      "iem_cd",
                      "cnt"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bsop_date": {
                            "type": "string",
                            "description": "일자 / 길이 8"
                          },
                          "stck_prpr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "종가 / 길이 9"
                          },
                          "prdy_vrss_sign": {
                            "type": "string",
                            "description": "등락부호 / 길이 1 / 1or6.상한가 2or7.상승 3or0.보합 4or8.하한 5or9.하락 그외.보함+리버스(기세)"
                          },
                          "prdy_vrss": {
                            "type": "integer",
                            "format": "int64",
                            "description": "등락폭 / 길이 9"
                          },
                          "prdy_ctrt": {
                            "type": "number",
                            "format": "float",
                            "description": "등락률 / 길이 5.2"
                          },
                          "acml_vol": {
                            "type": "number",
                            "format": "double",
                            "description": "거래량 / 길이 12"
                          },
                          "t0001z9": {
                            "type": "integer",
                            "format": "int64",
                            "description": "금융투자 / 길이 9"
                          },
                          "t0002z9": {
                            "type": "integer",
                            "format": "int64",
                            "description": "보험 / 길이 9"
                          },
                          "t0003z9": {
                            "type": "integer",
                            "format": "int64",
                            "description": "투신 / 길이 9"
                          },
                          "t0004z9": {
                            "type": "integer",
                            "format": "int64",
                            "description": "은행 / 길이 9"
                          },
                          "t0005z9": {
                            "type": "integer",
                            "format": "int64",
                            "description": "기타금융 / 길이 9"
                          },
                          "t0006z9": {
                            "type": "integer",
                            "format": "int64",
                            "description": "연기금 / 길이 9"
                          },
                          "t0007z9": {
                            "type": "integer",
                            "format": "int64",
                            "description": "국가지자체 / 길이 9"
                          },
                          "t0008z9": {
                            "type": "integer",
                            "format": "int64",
                            "description": "개인 / 길이 9"
                          },
                          "t0009z9": {
                            "type": "integer",
                            "format": "int64",
                            "description": "외국인 / 길이 9"
                          },
                          "t0015z9": {
                            "type": "integer",
                            "format": "int64",
                            "description": "기타법인2 / 길이 9"
                          },
                          "t0010z9": {
                            "type": "integer",
                            "format": "int64",
                            "description": "기관계 / 길이 9"
                          },
                          "t0011z9": {
                            "type": "integer",
                            "format": "int64",
                            "description": "합계 / 길이 9"
                          },
                          "t0013z9": {
                            "type": "integer",
                            "format": "int64",
                            "description": "사모 / 길이 9"
                          },
                          "filler": {
                            "type": "string",
                            "description": "Filler / 길이 30"
                          },
                          "ctsz8": {
                            "type": "string",
                            "description": "CTS / 길이 8"
                          },
                          "nextbuttonz1": {
                            "type": "string",
                            "description": "NEXTBUTTON / 길이 1"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krgold/TODO/API_국내_금현물_시세_괴리율": {
      "post": {
        "tags": [
          "시세 (Market Data)"
        ],
        "operationId": "krgoldTODOAPI_국내_금현물_시세_괴리율",
        "summary": "금현물 괴리율",
        "description": "원본 시트: API_국내_금현물_시세_괴리율",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "nff_ert_plf_tup_cd": {
                        "type": "string",
                        "description": "비대면일임플랫폼제휴코드_IO / 길이 3"
                      },
                      "datez8": {
                        "type": "string",
                        "description": "거래일자(한국일자)YYYYMMDD / 길이 8"
                      }
                    },
                    "required": [
                      "nff_ert_plf_tup_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "spot_prpr": {
                            "type": "number",
                            "format": "double",
                            "description": "체결가격 / 길이 9.3"
                          },
                          "prdy_vrss_sign": {
                            "type": "string",
                            "description": "전일대비부호 / 길이 1"
                          },
                          "spot_prdy_vrss": {
                            "type": "number",
                            "format": "double",
                            "description": "전일대비 / 길이 9.3"
                          },
                          "spot_prdy_ctrt": {
                            "type": "number",
                            "format": "double",
                            "description": "등락률 / 길이 9.2"
                          },
                          "spot_oprc": {
                            "type": "number",
                            "format": "double",
                            "description": "시가 / 길이 9.3"
                          },
                          "spot_hgpr": {
                            "type": "number",
                            "format": "double",
                            "description": "고가 / 길이 9.3"
                          },
                          "spot_lwpr": {
                            "type": "number",
                            "format": "double",
                            "description": "저가 / 길이 9.3"
                          },
                          "spot_askp": {
                            "type": "number",
                            "format": "double",
                            "description": "매도우선호가 / 길이 9.3"
                          },
                          "spot_bidp": {
                            "type": "number",
                            "format": "double",
                            "description": "매수우선호가 / 길이 9.3"
                          },
                          "unch_stnd_exrt": {
                            "type": "number",
                            "format": "double",
                            "description": "환산기준환율 / 길이 9.2"
                          },
                          "prdy_prpr": {
                            "type": "number",
                            "format": "double",
                            "description": "전일종가 / 길이 9.3"
                          },
                          "filler": {
                            "type": "string",
                            "description": "Filler / 길이 30"
                          },
                          "datez8": {
                            "type": "string",
                            "description": "거래일자(한국일자)YYYYMMDD / 길이 8"
                          },
                          "am_pricez9": {
                            "type": "number",
                            "format": "double",
                            "description": "Am_price / 길이 9.3"
                          },
                          "pm_pricez9": {
                            "type": "number",
                            "format": "double",
                            "description": "Pm_price / 길이 9.3"
                          },
                          "signz1": {
                            "type": "string",
                            "description": "전일대비부호 / 길이 1"
                          },
                          "changez9": {
                            "type": "number",
                            "format": "double",
                            "description": "전일대비 / 길이 9.3"
                          },
                          "chratez9": {
                            "type": "number",
                            "format": "double",
                            "description": "전일대비등락률 / 길이 9.2"
                          },
                          "exchange_ratez9": {
                            "type": "number",
                            "format": "double",
                            "description": "환산기준환율 / 길이 9.2"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "x-todo": "원본 명세서 URI 미정"
      }
    },
    "/krgold/quote/v1/goldDailyTrend": {
      "post": {
        "tags": [
          "시세 (Market Data)"
        ],
        "operationId": "krgoldQuoteGoldDailyTrend",
        "summary": "금현물 일별추이",
        "description": "원본 시트: API_국내_금현물_시세_일별추이",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 9 / 예시> 금 1kg인 경우, M04020000"
                      },
                      "sdate": {
                        "type": "string",
                        "description": "시작일자 / 길이 8 / YYYYMMDD"
                      },
                      "edate": {
                        "type": "string",
                        "description": "종료일자 / 길이 8 / YYYYMMDD"
                      },
                      "gubun": {
                        "type": "string",
                        "description": "금액구분 / 길이 1 / 0.백만원 1.원"
                      }
                    },
                    "required": [
                      "iem_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bsop_date": {
                            "type": "string",
                            "description": "일자 / 길이 8"
                          },
                          "stck_oprc": {
                            "type": "integer",
                            "format": "int64",
                            "description": "시가 / 길이 9"
                          },
                          "stck_hgpr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "고가 / 길이 9"
                          },
                          "stck_lwpr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "저가 / 길이 9"
                          },
                          "stck_prpr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "종가 / 길이 9"
                          },
                          "prdy_vrss_sign": {
                            "type": "string",
                            "description": "등락부호 / 길이 1 / 1or6.상한가 2or7.상승 3or0.보합 4or8.하한 5or9.하락 그외.보함+리버스(기세)"
                          },
                          "prdy_vrss": {
                            "type": "integer",
                            "format": "int64",
                            "description": "등락폭 / 길이 9"
                          },
                          "prdy_ctrt": {
                            "type": "number",
                            "format": "float",
                            "description": "등락률 / 길이 5.2"
                          },
                          "acml_vol": {
                            "type": "number",
                            "format": "double",
                            "description": "거래량 / 길이 12"
                          },
                          "acml_tr_pbmn": {
                            "type": "number",
                            "format": "double",
                            "description": "거래대금 / 길이 18"
                          },
                          "lbma_pmprice": {
                            "type": "number",
                            "format": "double",
                            "description": "LBMA오후결정가 / 길이 9.3"
                          },
                          "lbma_sign": {
                            "type": "string",
                            "description": "LBMA등락부호 / 길이 1"
                          },
                          "lbma_change": {
                            "type": "number",
                            "format": "double",
                            "description": "LBMA전일비 / 길이 9.3"
                          },
                          "lbma_chrate": {
                            "type": "number",
                            "format": "double",
                            "description": "LBMA등락률 / 길이 9.2"
                          },
                          "filler": {
                            "type": "string",
                            "description": "Filler / 길이 30"
                          },
                          "sdatez8": {
                            "type": "string",
                            "description": "시작일자 / 길이 8"
                          },
                          "edatez8": {
                            "type": "string",
                            "description": "종료일자 / 길이 8"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krgold/quote/v1/goldVolatilityTrade": {
      "post": {
        "tags": [
          "시세 (Market Data)"
        ],
        "operationId": "krgoldQuoteGoldVolatilityTrade",
        "summary": "금현물 변동거래",
        "description": "원본 시트: API_국내_금현물_시세_변동거래",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 9"
                      },
                      "array_cnt": {
                        "type": "string",
                        "description": "조회개수 / 길이 3"
                      }
                    },
                    "required": [
                      "iem_cd",
                      "array_cnt"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bsop_hour": {
                            "type": "string",
                            "description": "시간 / 길이 6"
                          },
                          "spot_prpr": {
                            "type": "number",
                            "format": "float",
                            "description": "현재가 / 길이 9.3"
                          },
                          "prdy_vrss_sign": {
                            "type": "string",
                            "description": "등락부호 / 길이 1"
                          },
                          "spot_prdy_vrss": {
                            "type": "number",
                            "format": "float",
                            "description": "등락폭 / 길이 9.3"
                          },
                          "spot_oprc": {
                            "type": "number",
                            "format": "float",
                            "description": "시가 / 길이 9.3"
                          },
                          "spot_hgpr": {
                            "type": "number",
                            "format": "float",
                            "description": "고가 / 길이 9.3"
                          },
                          "spot_lwpr": {
                            "type": "number",
                            "format": "float",
                            "description": "저가 / 길이 9.3"
                          },
                          "spot_askp": {
                            "type": "number",
                            "format": "float",
                            "description": "매도호가 / 길이 9.3"
                          },
                          "spot_bidp": {
                            "type": "number",
                            "format": "float",
                            "description": "매수호가 / 길이 9.3"
                          },
                          "stck_prpr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "현재가 / 길이 9"
                          },
                          "prdy_vrss": {
                            "type": "integer",
                            "format": "int64",
                            "description": "등락폭 / 길이 9"
                          },
                          "prdy_ctrt": {
                            "type": "number",
                            "format": "float",
                            "description": "등락률 / 길이 5.2"
                          },
                          "askp": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도호가 / 길이 9"
                          },
                          "bidp": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수호가 / 길이 9"
                          },
                          "cntg_vol": {
                            "type": "number",
                            "format": "double",
                            "description": "변동거래량 / 길이 10"
                          },
                          "acml_vol": {
                            "type": "number",
                            "format": "double",
                            "description": "거래량 / 길이 12"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-realtime-channels": {
    "endpoint": "wss://devapi.nhplug.com:7070",
    "endpoints": {
      "test": "wss://devapi.nhplug.com:7070",
      "mock": "wss://moapi.nhplug.com:17070",
      "live": "wss://api.nhplug.com:7070"
    },
    "protocol": {
      "transport": "WebSocket",
      "connection": "wss 접속(국내 :7070 / 해외 :7080, 모의투자 :17070) 후 구독 메시지 전송. URI 는 /websocket.",
      "auth": "메시지 header 의 token 필드에 access token(POST /oauth2/token) 전달. REST 와 달리 Authorization/x-client-id/x-client-secret 헤더는 미사용.",
      "subscribe_message": {
        "header": {
          "token": "{access_token}",
          "tr_type": "1"
        },
        "body": {
          "tr_cd": "<채널코드>",
          "tr_key": "<구독키>"
        }
      },
      "unsubscribe": "동일 메시지에서 tr_type 을 '2' 로 전송",
      "tr_type": {
        "1": "등록(구독)",
        "2": "해제"
      },
      "push_message": {
        "format": "JSON",
        "delivery": "비정기적 — 데이터 발생 시마다 서버가 push (요청/응답 1:1 아님)",
        "structure": {
          "header": {
            "tr_cd": "채널코드",
            "tr_key": "구독키"
          },
          "body": {
            "<응답필드>": "..."
          }
        }
      },
      "heartbeat": "불필요 — 연결 유지 신호(ping/pong) 없음",
      "encryption": "없음 — 체결/주문 통보 포함 모두 평문 JSON"
    },
    "note": "실시간 시세·통보는 WebSocket. 구독=protocol.subscribe_message, 서버 푸시=JSON {header,body}. 채널별 실제 예시는 channels[].subscribe_example / push_example.",
    "channels": [
      {
        "name": "금현물 실시간 호가",
        "sheet": "API_국내_금현물_실시간_호가",
        "tr_cd": "g5",
        "tr_key": {
          "name": "shcode",
          "kor": "종목코드",
          "length": "9"
        },
        "fields": [
          "shcode",
          "time",
          "p_offer",
          "p_bid",
          "p_offerjan",
          "p_bidjan",
          "p1_offer",
          "p1_bid",
          "p1_offerjan",
          "p1_bidjan",
          "p2_offer",
          "p2_bid",
          "p2_offerjan",
          "p2_bidjan",
          "p3_offer",
          "p3_bid",
          "p3_offerjan",
          "p3_bidjan",
          "p4_offer",
          "p4_bid",
          "p4_offerjan",
          "p4_bidjan",
          "p5_offer",
          "p5_bid",
          "p5_offerjan",
          "p5_bidjan",
          "p6_offer",
          "p6_bid",
          "p6_offerjan",
          "p6_bidjan",
          "p7_offer",
          "p7_bid",
          "p7_offerjan",
          "p7_bidjan",
          "p8_offer",
          "p8_bid",
          "p8_offerjan",
          "p8_bidjan",
          "p9_offer",
          "p9_bid",
          "p9_offerjan",
          "p9_bidjan",
          "tofferjan",
          "tobidjan",
          "stop",
          "lp_p_offerjan",
          "lp_p_bidjan",
          "lp_p1_offerjan",
          "lp_p1_bidjan",
          "lp_p2_offerjan",
          "lp_p2_bidjan",
          "lp_p3_offerjan",
          "lp_p3_bidjan",
          "lp_p4_offerjan",
          "lp_p4_bidjan",
          "lp_p5_offerjan",
          "lp_p5_bidjan",
          "lp_p6_offerjan",
          "lp_p6_bidjan",
          "lp_p7_offerjan",
          "lp_p7_bidjan",
          "lp_p8_offerjan",
          "lp_p8_bidjan",
          "lp_p9_offerjan",
          "lp_p9_bidjan"
        ],
        "subscribe_example": {
          "header": {
            "token": "TOKEN",
            "tr_type": "1"
          },
          "body": {
            "tr_cd": "g5",
            "tr_key": "M04020000"
          }
        },
        "push_example": {
          "header": {
            "tr_cd": "g5",
            "tr_key": "M04020000"
          },
          "body": {
            "shcode": "M04020000",
            "time": "104144",
            "p_offer": "199670",
            "p_bid": "199660",
            "p_offerjan": "6995",
            "p_bidjan": "1",
            "p1_offer": "199680",
            "p1_bid": "199580",
            "p1_offerjan": "7047",
            "p1_bidjan": "1",
            "p2_offer": "199690",
            "p2_bid": "199570",
            "p2_offerjan": "5000",
            "p2_bidjan": "2",
            "p3_offer": "199700",
            "p3_bid": "199560",
            "p3_offerjan": "5009",
            "p3_bidjan": "34",
            "p4_offer": "199710",
            "p4_bid": "199530",
            "p4_offerjan": "5010",
            "p4_bidjan": "2",
            "p5_offer": "199730",
            "p5_bid": "199510",
            "p5_offerjan": "1784",
            "p5_bidjan": "13",
            "p6_offer": "199740",
            "p6_bid": "199500",
            "p6_offerjan": "1992",
            "p6_bidjan": "91",
            "p7_offer": "199770",
            "p7_bid": "199490",
            "p7_offerjan": "1000",
            "p7_bidjan": "1",
            "p8_offer": "199780",
            "p8_bid": "199480",
            "p8_offerjan": "10",
            "p8_bidjan": "30",
            "p9_offer": "199810",
            "p9_bid": "199450",
            "p9_offerjan": "1",
            "p9_bidjan": "106",
            "tofferjan": "33848",
            "tobidjan": "281",
            "stop": "0",
            "lp_p_offerjan": "6995",
            "lp_p_bidjan": "0",
            "lp_p1_offerjan": "7000",
            "lp_p1_bidjan": "0",
            "lp_p2_offerjan": "5000",
            "lp_p2_bidjan": "0",
            "lp_p3_offerjan": "5000",
            "lp_p3_bidjan": "0",
            "lp_p4_offerjan": "5000",
            "lp_p4_bidjan": "0",
            "lp_p5_offerjan": "1784",
            "lp_p5_bidjan": "0",
            "lp_p6_offerjan": "1992",
            "lp_p6_bidjan": "0",
            "lp_p7_offerjan": "1000",
            "lp_p7_bidjan": "0",
            "lp_p8_offerjan": "0",
            "lp_p8_bidjan": "0",
            "lp_p9_offerjan": "0",
            "lp_p9_bidjan": "100"
          }
        }
      },
      {
        "name": "금현물 실시간 체결가",
        "sheet": "API_국내_금현물_실시간_체결가",
        "tr_cd": "g4",
        "tr_key": {
          "name": "shcode",
          "kor": "종목코드",
          "length": "9"
        },
        "fields": [
          "shcode",
          "time",
          "sign",
          "change",
          "cheprice",
          "chrate",
          "chevolume",
          "janggubun",
          "openprice",
          "highprice",
          "lowprice",
          "totvolume",
          "totvalue",
          "filler"
        ],
        "subscribe_example": {
          "header": {
            "token": "TOKEN",
            "tr_type": "1"
          },
          "body": {
            "tr_cd": "g4",
            "tr_key": "M04020000"
          }
        },
        "push_example": {
          "header": {
            "tr_cd": "g4",
            "tr_key": "M04020000"
          },
          "body": {
            "shcode": "M04020000",
            "time": "104433",
            "sign": "2",
            "change": "1670",
            "cheprice": "199480",
            "chrate": "0.84",
            "chevolume": "1",
            "janggubun": "0",
            "openprice": "199680",
            "highprice": "199860",
            "lowprice": "199060",
            "totvolume": "40773",
            "totvalue": "8130761510",
            "filler": "0"
          }
        }
      },
      {
        "name": "금현물 실시간 예상체결가",
        "sheet": "API_국내_금현물_실시간_예상체결",
        "tr_cd": "gE",
        "tr_key": {
          "name": "shcode",
          "kor": "종목코드",
          "length": "9"
        },
        "fields": [
          "shcode",
          "time",
          "dongsi",
          "eqsign",
          "eqprice",
          "eqchange",
          "eqvolume",
          "eqchrate"
        ],
        "subscribe_example": {
          "header": {
            "token": "TOKEN",
            "tr_type": "1"
          },
          "body": {
            "tr_cd": "gE",
            "tr_key": "M04020000"
          }
        },
        "push_example": {
          "header": {
            "tr_cd": "gE",
            "tr_key": "M04020000"
          },
          "body": {
            "shcode": "M04020000",
            "time": "104615",
            "dongsi": "0",
            "eqsign": "0",
            "eqprice": "0",
            "eqchange": "0",
            "eqvolume": "0",
            "eqchrate": "0.00"
          }
        }
      },
      {
        "name": "금현물 실시간 체결내역 통보",
        "sheet": "API_국내_금현물_실시간_체결통보",
        "tr_cd": "de",
        "tr_key": {
          "name": "userid",
          "kor": "사용자ID",
          "length": "8"
        },
        "fields": [
          "userid",
          "itemgb",
          "accountno",
          "orderno",
          "issuecd",
          "issuename",
          "slbygb",
          "concgty",
          "concprc",
          "conctime",
          "ucgb",
          "rejgb"
        ],
        "subscribe_example": {
          "header": {
            "token": "TOKEN",
            "tr_type": "1"
          },
          "body": {
            "tr_cd": "de",
            "tr_key": ""
          }
        },
        "push_example": {
          "header": {
            "tr_cd": "de"
          },
          "body": {
            "userid": "ID",
            "itemgb": "G",
            "accountno": "ACCOUNT NUMBER",
            "orderno": "0000000149",
            "issuecd": "M04020000",
            "issuename": "금 99.99_1kg",
            "slbygb": "1",
            "concgty": "0000000010",
            "concprc": "00000212090",
            "conctime": "150340",
            "ucgb": "0",
            "rejgb": "0"
          }
        }
      },
      {
        "name": "금현물 실시간 주문내역 통보",
        "sheet": "API_국내_금현물_실시간_주문내역통보",
        "tr_cd": "d3",
        "tr_key": {
          "name": "userid",
          "kor": "사용자ID",
          "length": "8"
        },
        "fields": [
          "userid",
          "itemgb",
          "accountno",
          "orderno",
          "orgordno",
          "ordercd",
          "issuecd",
          "issuename",
          "slbygb",
          "order_type",
          "ordergty",
          "orderprc",
          "procnm",
          "commcd",
          "order_cond",
          "fundcode",
          "sin_gb",
          "order_time",
          "loan_date",
          "rmt_mkt_cd",
          "snd_mkt_cd",
          "ord_cond_prc",
          "sor_orrgb",
          "mkt_order_qty"
[...]
