{
  "openapi": "3.0.3",
  "info": {
    "title": "NH투자증권 Open API — 공통 (Common: 인증·계좌)",
    "version": "v1",
    "description": "자산군과 무관한 **플랫폼 공통 API** 문서입니다.\n\n- 접근 토큰 발급(`/oauth2/token`)과 계좌 목록 조회(`/n2/acctinfo`)를 포함합니다.\n- 이 두 API 는 모든 자산군 조회·주문의 선행 단계입니다: 토큰 발급 → 계좌목록 조회 → 각 계좌번호로 자산군 API 호출.\n- `/oauth2/token` 은 쿼리 파라미터 + form-urlencoded 방식, `/n2/acctinfo` 는 다른 REST API 와 동일하게 `Input_0`/`Output_0` 봉투를 사용합니다."
  },
  "servers": [
    {
      "url": "https://devapi.nhplug.com:8443",
      "description": "🟢 테스트 (Test) — 실매매 전 검증 [기본]"
    },
    {
      "url": "https://moapi.nhplug.com:8443",
      "description": "🟢 모의투자 (Mock) — 교육이수"
    },
    {
      "url": "https://api.nhplug.com:8443",
      "description": "🔴 실거래 (Live) — 실제 주문 체결 (검증 후에만)"
    }
  ],
  "tags": [
    {
      "name": "인증 (Auth)"
    },
    {
      "name": "계좌 (Account)"
    }
  ],
  "paths": {
    "/oauth2/token": {
      "post": {
        "operationId": "commonAuthIssueToken",
        "summary": "접근 토큰 발급",
        "tags": [
          "인증 (Auth)"
        ],
        "description": "앱키/앱시크릿으로 access token 을 발급합니다. 파라미터는 쿼리스트링으로 전달하며 Content-Type 은 application/x-www-form-urlencoded 입니다. 발급된 토큰은 만료 전까지 재사용하세요(매 호출 재발급 금지).",
        "parameters": [
          {
            "name": "appkey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "발급받은 앱키"
          },
          {
            "name": "appsecretkey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "발급받은 앱시크릿"
          },
          {
            "name": "grant_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "client_credentials"
            },
            "description": "고정값 client_credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "oob"
            },
            "description": "고정값 oob"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "토큰 발급 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "접근 토큰"
                    },
                    "token_type": {
                      "type": "string",
                      "description": "토큰 유형 (예: Bearer)"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "만료까지 남은 초"
                    },
                    "scope": {
                      "type": "string",
                      "description": "scope"
                    }
                  },
                  "required": [
                    "access_token"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/n2/acctinfo": {
      "post": {
        "operationId": "commonAccountList",
        "summary": "계좌 목록 조회",
        "tags": [
          "계좌 (Account)"
        ],
        "description": "로그인 자격증명(앱키/시크릿)에 연결된 보유 계좌 목록을 조회합니다. 입력 파라미터는 없습니다(빈 Input_0). 응답의 acct_no 를 이후 잔고·주문 API 의 act_no 로 사용합니다.",
        "security": [
          {
            "bearerAuth": [],
            "clientId": [],
            "clientSecret": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {},
                    "description": "입력 파라미터 없음"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "계좌 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rsp_cd": {
                      "type": "string",
                      "description": "응답코드 (00000=정상)"
                    },
                    "rsp_msg": {
                      "type": "string",
                      "description": "응답메시지"
                    },
                    "cust_no": {
                      "type": "string",
                      "description": "고객번호"
                    },
                    "Output_0": {
                      "type": "array",
                      "description": "보유 계좌 목록",
                      "items": {
                        "type": "object",
                        "properties": {
                          "acct_no": {
                            "type": "string",
                            "description": "계좌번호 (잔고·주문 API 의 act_no 로 사용)"
                          },
                          "acct_type": {
                            "type": "string",
                            "description": "계좌구분코드 (예: 01)"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "rsp_cd": "00000",
                  "rsp_msg": "조회가 완료되었습니다.",
                  "cust_no": "100805701",
                  "Output_0": [
                    {
                      "acct_no": "20101036881",
                      "acct_type": "01"
                    },
                    {
                      "acct_no": "20111036881",
                      "acct_type": "01"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization: Bearer {access_token}"
      },
      "clientId": {
        "type": "apiKey",
        "in": "header",
        "name": "x-client-id",
        "description": "앱키"
      },
      "clientSecret": {
        "type": "apiKey",
        "in": "header",
        "name": "x-client-secret",
        "description": "앱시크릿"
      }
    }
  }
}