{
  "openapi": "3.0.3",
  "info": {
    "title": "NH투자증권 Open API — 국내파생 (KR Derivatives)",
    "version": "v1",
    "description": "NH투자증권 Open API 중 **국내파생 (KR Derivatives)** 자산군의 REST 및 실시간(WebSocket) API 문서입니다. (기준: API명세서 260703 / 나무 환경)\n\n- REST: POST + JSON, 요청 Input_0 / 응답 Output_0(배열) + message.\n- 실시간: WebSocket. 구독 규약은 x-realtime-channels.protocol 참조.\n- 인증: POST /oauth2/token → REST 는 Authorization/x-client-id/x-client-secret, WS 는 메시지 header.token."
  },
  "servers": [
    {
      "url": "https://api.nhplug.com:8443",
      "description": "운영 · 나무 (실거래)"
    },
    {
      "url": "https://moapi.nhplug.com:8443",
      "description": "운영 모의투자 · 나무"
    },
    {
      "url": "https://devapi.nhplug.com:8443",
      "description": "개발 · 나무 (실거래)"
    },
    {
      "url": "https://devmoapi.nhplug.com:8443",
      "description": "개발 모의투자 · 나무"
    }
  ],
  "security": [
    {
      "BearerAuth": [],
      "ClientId": [],
      "ClientSecret": []
    }
  ],
  "x-environments": {
    "portal": {
      "나무": "https://www.nhplug.com"
    },
    "rest": {
      "운영_나무": "https://api.nhplug.com:8443",
      "운영모의_나무": "https://moapi.nhplug.com:8443",
      "개발_나무": "https://devapi.nhplug.com:8443",
      "개발모의_나무": "https://devmoapi.nhplug.com:8443"
    },
    "websocket": {
      "운영_나무": "wss://api.nhplug.com:7070",
      "운영모의_나무": "wss://moapi.nhplug.com:17070",
      "개발_나무": "wss://devapi.nhplug.com:7070",
      "개발모의_나무": "wss://devmoapi.nhplug.com:17070"
    },
    "note": "나무(Namuh) 환경 기준. N2 는 추후. WS 포트: 국내 7070 / 해외 7080, 모의 17070."
  },
  "tags": [
    {
      "name": "주문 (Order)"
    },
    {
      "name": "조회 (Inquiry)"
    },
    {
      "name": "시세 (Market Data)"
    },
    {
      "name": "실시간 (Realtime)"
    }
  ],
  "paths": {
    "/krfuture/order/v1/day": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krfutureOrderDay",
        "summary": "선물옵션 주문주간",
        "description": "\n\n원본 시트: API_국내_파생_주문_주간",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "sby_dit_cd": {
                        "type": "string",
                        "description": "매매구분코드 / 길이 1 / 1.매도 2.매수"
                      },
                      "fno_iem_cd": {
                        "type": "string",
                        "description": "선물옵션종목코드 / 길이 12 / 예시> KA0166000"
                      },
                      "orr_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문수량 / 길이 18"
                      },
                      "orr_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "주문가격 / 길이 15.3"
                      },
                      "fno_nmn_pr_tp_cd": {
                        "type": "string",
                        "description": "선물옵션호가유형코드 / 길이 1 / L.지정가 M.시장가 B.최유리지정가 C.조건부지정가"
                      },
                      "frs_orr_cnd_dit_cd": {
                        "type": "string",
                        "description": "선물주문조건구분코드 / 길이 1 / 0.일반주문 1.일부충족(IOC) 2.전량충족(FOK)"
                      }
                    },
                    "required": [
                      "act_no",
                      "sby_dit_cd",
                      "fno_iem_cd",
                      "orr_qty"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ost_pcs_rlt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "처리결과 / 길이 4"
                          },
                          "msg_cd": {
                            "type": "string",
                            "description": "메시지코드 / 길이 5"
                          },
                          "orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문번호 / 길이 10"
                          },
                          "orr_pbl_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능현금_IO / 길이 18"
                          },
                          "orr_pbl_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능총액_IO / 길이 18"
                          },
                          "dsg_csh_isf_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예탁현금부족금액 / 길이 18"
                          },
                          "dsg_tal_isf_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예탁총액부족금액 / 길이 18"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krfuture/order/v1/nightNight": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krfutureOrderNightNight",
        "summary": "선물옵션 주문야간",
        "description": "\n\n원본 시트: API_국내_파생_주문_야간",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "sby_dit_cd": {
                        "type": "string",
                        "description": "매매구분코드 / 길이 1 / 1.매도 2.매수"
                      },
                      "fno_iem_cd": {
                        "type": "string",
                        "description": "선물옵션종목코드 / 길이 12 / 예시> KA0166000"
                      },
                      "orr_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문수량 / 길이 18"
                      },
                      "orr_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "주문가격 / 길이 15.3"
                      },
                      "fno_nmn_pr_tp_cd": {
                        "type": "string",
                        "description": "선물옵션호가유형코드 / 길이 1 / L.지정가 M.시장가 B.최유리지정가 C.조건부지정가"
                      },
                      "frs_orr_cnd_dit_cd": {
                        "type": "string",
                        "description": "선물주문조건구분코드 / 길이 1 / 0.일반주문 1.일부충족(IOC) 2.전량충족(FOK)"
                      }
                    },
                    "required": [
                      "act_no",
                      "sby_dit_cd",
                      "fno_iem_cd",
                      "orr_qty"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ost_pcs_rlt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "처리결과 / 길이 4"
                          },
                          "msg_cd": {
                            "type": "string",
                            "description": "메시지코드 / 길이 5"
                          },
                          "orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문번호 / 길이 10"
                          },
                          "orr_pbl_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능현금_IO / 길이 18"
                          },
                          "orr_pbl_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능총액_IO / 길이 18"
                          },
                          "dsg_csh_isf_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예탁현금부족금액 / 길이 18"
                          },
                          "dsg_tal_isf_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예탁총액부족금액 / 길이 18"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krfuture/order/v1/dayModify": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krfutureOrderDayModify",
        "summary": "선물옵션 정정취소주문주간정정",
        "description": "\n\n원본 시트: API_국내_파생_주문_주간정정",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "fno_iem_cd": {
                        "type": "string",
                        "description": "선물옵션종목코드 / 길이 12 / 예시> KA0166000"
                      },
                      "orr_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문수량 / 길이 18"
                      },
                      "orr_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "주문가격 / 길이 15.3"
                      },
                      "fno_nmn_pr_tp_cd": {
                        "type": "string",
                        "description": "선물옵션호가유형코드 / 길이 1 / L.지정가 M.시장가 B.최유리지정가 C.조건부지정가"
                      },
                      "frs_orr_cnd_dit_cd": {
                        "type": "string",
                        "description": "선물주문조건구분코드 / 길이 1 / 0.일반주문 1.일부충족(IOC) 2.전량충족(FOK)"
                      },
                      "org_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "원주문번호 / 길이 10"
                      }
                    },
                    "required": [
                      "act_no",
                      "fno_iem_cd",
                      "orr_qty",
                      "orr_pr",
                      "fno_nmn_pr_tp_cd",
                      "frs_orr_cnd_dit_cd",
                      "org_orr_no"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "msg_cd": {
                            "type": "string",
                            "description": "메시지코드 / 길이 5"
                          },
                          "orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문번호 / 길이 10"
                          },
                          "orr_pbl_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능현금_IO / 길이 18"
                          },
                          "orr_pbl_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능총액_IO / 길이 18"
                          },
                          "dsg_csh_isf_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예탁현금부족금액 / 길이 18"
                          },
                          "dsg_tal_isf_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예탁총액부족금액 / 길이 18"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krfuture/order/v1/nightModify": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krfutureOrderNightModify",
        "summary": "선물옵션 정정취소주문야간정정",
        "description": "\n\n원본 시트: API_국내_파생_주문_야간정정",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "fno_iem_cd": {
                        "type": "string",
                        "description": "선물옵션종목코드 / 길이 12 / 예시> KA0166000"
                      },
                      "orr_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문수량 / 길이 18"
                      },
                      "orr_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "주문가격 / 길이 15.3"
                      },
                      "fno_nmn_pr_tp_cd": {
                        "type": "string",
                        "description": "선물옵션호가유형코드 / 길이 1 / L.지정가 M.시장가 B.최유리지정가 C.조건부지정가"
                      },
                      "frs_orr_cnd_dit_cd": {
                        "type": "string",
                        "description": "선물주문조건구분코드 / 길이 1 / 0.일반주문 1.일부충족(IOC) 2.전량충족(FOK)"
                      },
                      "org_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "원주문번호 / 길이 10"
                      }
                    },
                    "required": [
                      "act_no",
                      "fno_iem_cd",
                      "orr_qty",
                      "orr_pr",
                      "fno_nmn_pr_tp_cd",
                      "frs_orr_cnd_dit_cd",
                      "org_orr_no"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "msg_cd": {
                            "type": "string",
                            "description": "메시지코드 / 길이 5"
                          },
                          "orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문번호 / 길이 10"
                          },
                          "orr_pbl_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능현금_IO / 길이 18"
                          },
                          "orr_pbl_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능총액_IO / 길이 18"
                          },
                          "dsg_csh_isf_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예탁현금부족금액 / 길이 18"
                          },
                          "dsg_tal_isf_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예탁총액부족금액 / 길이 18"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krfuture/order/v1/dayCancel": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krfutureOrderDayCancel",
        "summary": "선물옵션 정정취소주문주간취소",
        "description": "\n\n원본 시트: API_국내_파생_주문_주간취소",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "fno_iem_cd": {
                        "type": "string",
                        "description": "선물옵션종목코드 / 길이 12 / 예시> KA0166000"
                      },
                      "orr_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문수량 / 길이 18"
                      },
                      "org_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "원주문번호 / 길이 10"
                      }
                    },
                    "required": [
                      "act_no",
                      "fno_iem_cd",
                      "org_orr_no"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "msg_cd": {
                            "type": "string",
                            "description": "메시지코드 / 길이 5"
                          },
                          "orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문번호 / 길이 10"
                          },
                          "orr_pbl_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능현금_IO / 길이 18"
                          },
                          "orr_pbl_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능총액_IO / 길이 18"
                          },
                          "dsg_csh_isf_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예탁현금부족금액 / 길이 18"
                          },
                          "dsg_tal_isf_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예탁총액부족금액 / 길이 18"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krfuture/order/v1/nightCancel": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krfutureOrderNightCancel",
        "summary": "선물옵션 정정취소주문야간취소",
        "description": "\n\n원본 시트: API_국내_파생_주문_야간취소",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "fno_iem_cd": {
                        "type": "string",
                        "description": "선물옵션종목코드 / 길이 12 / 예시> KA0166000"
                      },
                      "orr_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문수량 / 길이 18"
                      },
                      "org_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "원주문번호 / 길이 10"
                      }
                    },
                    "required": [
                      "act_no",
                      "fno_iem_cd",
                      "org_orr_no"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "msg_cd": {
                            "type": "string",
                            "description": "메시지코드 / 길이 5"
                          },
                          "orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문번호 / 길이 10"
                          },
                          "orr_pbl_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능현금_IO / 길이 18"
                          },
                          "orr_pbl_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능총액_IO / 길이 18"
                          },
                          "dsg_csh_isf_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예탁현금부족금액 / 길이 18"
                          },
                          "dsg_tal_isf_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예탁총액부족금액 / 길이 18"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krfuture/inquiry/v1/orderExecutionHistory": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "krfutureInquiryOrderExecutionHistory",
        "summary": "선물옵션 주문체결내역조회",
        "description": "\n\n원본 시트: API_국내_파생_조회_체결",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "orr_dt": {
                        "type": "string",
                        "description": "주문일자 / 길이 8 / YYYYMMDD"
                      },
                      "cns_dit_cd": {
                        "type": "string",
                        "description": "체결구분코드_IO / 길이 1 / 0.전체 1.체결 2.미체결"
                      },
                      "sot_dit": {
                        "type": "string",
                        "description": "정렬구분_IO / 길이 1 / 1.주문번호역순 2.주문번호순"
                      },
                      "sby_dit_cd": {
                        "type": "string",
                        "description": "매매구분코드 / 길이 1 / 0.전체 1.매도 2.매수"
                      },
                      "iem_dit": {
                        "type": "string",
                        "description": "종목구분_IO / 길이 1 / 9.전체 1.코스피200선물 2.코스피200옵션 7.주식선물 8.주식옵션 A.변동지수선물 B.섹터지수선물 D.미니코스피200선물 E.미니코스피200옵션 F.코스닥150선물 G.유로스톡스50선물 K.KRX300선물 L.코스닥150옵션 N.위클리옵션 P.코스닥글로벌 Q.코리아밸류업 R.코스닥150위클리옵션"
                      },
                      "CTS": {
                        "type": "string",
                        "description": "CTS / 길이 76 / 다음 데이터 조회를 위한 값. 이전 CTS값과 동일한 값이거나 공백일 경우 마지막 데이터"
                      }
                    },
                    "required": [
                      "act_no",
                      "orr_dt",
                      "cns_dit_cd",
                      "sot_dit",
                      "sby_dit_cd",
                      "iem_dit"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fno_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물옵션주문번호 / 길이 10"
                          },
                          "fno_org_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물옵션원주문번호 / 길이 10"
                          },
                          "frs_orr_cnd_dit_cd": {
                            "type": "string",
                            "description": "선물주문조건구분코드 / 길이 1"
                          },
                          "orr_cnd_dit_cd_nm": {
                            "type": "string",
                            "description": "주문조건구분코드명_IO / 길이 60"
                          },
                          "nmn_pr_tp_cd_nm": {
                            "type": "string",
                            "description": "호가유형코드명_IO / 길이 30"
                          },
                          "fno_nmn_pr_tp_cd": {
                            "type": "string",
                            "description": "선물옵션호가유형코드 / 길이 1"
                          },
                          "sby_dit_cd": {
                            "type": "string",
                            "description": "매매구분코드 / 길이 1"
                          },
                          "fno_iem_cd": {
                            "type": "string",
                            "description": "선물옵션종목코드 / 길이 12"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 60"
                          },
                          "orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문수량 / 길이 18"
                          },
                          "orr_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "주문가격 / 길이 15.2"
                          },
                          "frs_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물체결수량 / 길이 18"
                          },
                          "fno_cns_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "선물옵션체결가격 / 길이 15.2"
                          },
                          "ny_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "미체결수량_IO / 길이 18"
                          },
                          "pcs_rlt_msg_cd": {
                            "type": "string",
                            "description": "처리결과메시지코드 / 길이 4"
                          },
                          "cns_pcs_hur": {
                            "type": "string",
                            "description": "체결처리시간 / 길이 9"
                          },
                          "fno_rjt_rsn_cd": {
                            "type": "string",
                            "description": "선물옵션거부사유코드 / 길이 4"
                          },
                          "orr_rjt_rsn_cd_nm": {
                            "type": "string",
                            "description": "주문거부사유코드명_IO / 길이 50"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/krfuture/inquiry/v1/balance": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "krfutureInquiryBalance",
        "summary": "선물옵션 잔고현황",
        "description": "\n\n원본 시트: API_국내_파생_조회_잔고",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "CTS": {
                        "type": "string",
                        "description": "CTS / 길이 12 / 다음 데이터 조회를 위한 값. 이전 CTS값과 동일한 값이거나 공백일 경우 마지막 데이터"
                      }
                    },
                    "required": [
                      "act_no",
                      "CTS"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fno_iem_cd": {
                            "type": "string",
                            "description": "선물옵션종목코드 / 길이 12"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 60"
                          },
                          "sby_dit_nm": {
                            "type": "string",
                            "description": "매매구분명_IO / 길이 4"
                          },
                          "byn_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수체결수량 / 길이 18"
                          },
                          "sll_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도체결수량 / 길이 18"
                          },
                          "avg_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "평균가격_IO / 길이 15.3"
                          },
                          "pti_uit_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "진입단가_IO / 길이 15.3"
                          },
                          "now_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "현재가격 / 길이 15.3"
                          },
                          "eal_pls_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "평가손익금액 / 길이 18"
                          },
                          "frs_pti_eal_pls": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물진입평가손익_IO / 길이 15"
                          },
                          "sby_pls_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매매손익금액 / 길이 18"
                          },
                          "frs_pti_sby_pls": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물진입매매손익_IO / 길이 15"
                          },
                          "tot_pls_sum": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총손익합계_IO / 길이 15"
                          },
                          "lqd_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "청산가능수량_IO / 길이 15"
                          },
                          "opt_eal_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션평가금액 / 길이 18"
                          },
                          "fno_fee": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물옵션수수료 / 길이 18"
                          },
                          "byn_cns_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수체결금액 / 길이 18"
                          },
                          "sll_cns_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도체결금액 / 길이 18"
                          },
                          "abk_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "장부금액 / 길이 18"
                          },
                          "pti_abk_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "진입장부금액_IO / 길이 15"
                          },
                          "sby_pls_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "매매손익율_IO / 길이 10.3"
                          },
                          "pti_eal_pft_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "진입평가수익율_IO / 길이 5.2"
                          },
                          "pti_eal_pls": {
                            "type": "integer",
                            "format": "int64",
                            "description": "진입평가손익_IO / 길이 15"
                          },
                          "frs_fee": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물수수료 / 길이 18"
                          },
                          "pti_fee": {
                            "type": "integer",
                            "format": "int64",
                            "description": "진입수수료_IO / 길이 18"
                          },
                          "lqd_fee": {
                            "type": "integer",
                            "format": "int64",
                            "description": "청산수수료_IO / 길이 18"
                          },
                          "sby_dit_nm2": {
                            "type": "string",
                            "description": "매매구분명2_IO / 길이 4"
                          },
                          "bf_dd_ny_stl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "전일미결제수량 / 길이 18"
                          },
                          "bnc_ind_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "잔고증감수량_IO / 길이 15"
                          },
                          "ral_pls_sum": {
                            "type": "integer",
                            "format": "int64",
                            "description": "실손익합계_IO / 길이 15"
                          },
                          "sby_pls_sum": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매매손익합계_IO / 길이 18"
                          },
                          "tot_eal_pls": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총평가손익_IO / 길이 15"
                          },
                          "pti_tot_pls_sum": {
                            "type": "integer",
                            "format": "int64",
                            "description": "진입총손익합계_IO / 길이 15"
                          },
                          "pti_sby_pls_sum": {
                            "type": "integer",
                            "format": "int64",
                            "description": "진입매매손익합계_IO / 길이 15"
                          },
                          "pti_eal_pls_sum": {
                            "type": "integer",
                            "format": "int64",
                            "description": "진입평가손익합계_IO / 길이 15"
                          },
                          "ral_frs_pls": {
                            "type": "integer",
                            "format": "int64",
                            "description": "실선물손익_IO / 길이 15"
                          },
                          "frs_tot_pls": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물총손익_IO / 길이 15"
                          },
                          "frs_sby_pls": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물매매손익_IO / 길이 15"
                          },
                          "frs_eal_pls": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물평가손익_IO / 길이 15"
                          },
                          "pti_frs_eal_pls": {
                            "type": "integer",
                            "format": "int64",
                            "description": "진입선물평가손익_IO / 길이 15"
                          },
                          "ral_opt_pls": {
                            "type": "integer",
                            "format": "int64",
                            "description": "실옵션손익_IO / 길이 15"
                          },
                          "opt_tot_pls": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션총손익_IO / 길이 15"
                          },
                          "opt_sby_pls": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션매매손익_IO / 길이 15"
                          },
                          "opt_eal_pls": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션평가손익_IO / 길이 15"
                          },
                          "idx_opt_pls_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "지수옵션손익금액_IO / 길이 18"
                          },
                          "pti_sby_pls": {
                            "type": "integer",
                            "format": "int64",
                            "description": "진입매매손익_IO / 길이 15"
                          },
                          "fno_eal_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물옵션평가금액 / 길이 18"
                          },
                          "byn_cst_sum1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수대금합계1_IO / 길이 18"
                          },
                          "sum_qty1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "합계수량1_IO / 길이 18"
                          },
                          "sll_cst_sum1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도대금합계1_IO / 길이 18"
                          },
                          "sum_qty2": {
                            "type": "integer",
                            "format": "int64",
                            "description": "합계수량2_IO / 길이 18"
                          },
                          "fee_sum": {
                            "type": "integer",
                            "format": "int64",
                            "description": "수수료합계_IO / 길이 18"
                          },
                          "fee_sum_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "수수료합계금액 / 길이 18"
                          },
                          "frs_byn_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물매수금액 / 길이 18"
                          },
                          "frs_sll_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물매도금액 / 길이 18"
                          },
                          "qty_sum": {
                            "type": "integer",
                            "format": "int64",
                            "description": "수량합계_IO / 길이 18"
                          },
                          "opt_byn_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션매수금액 / 길이 18"
                          },
                          "opt_sll_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션매도금액 / 길이 18"
                          },
                          "dsg_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예탁총액 / 길이 18"
                          },
                          "orr_pbl_amt_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능금액총액 / 길이 18"
                          },
                          "brg_wtm_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "위탁증거금총액 / 길이 18"
                          },
                          "nas_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "순자산총액 / 길이 18"
                          },
                          "tot_eal_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총평가금액 / 길이 18"
                          },
                          "dsg_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예탁현금 / 길이 18"
                          },
                          "csh_dga": {
                            "type": "integer",
                            "format": "int64",
                            "description": "현금예탁금 / 길이 18"
                          },
                          "orr_pbl_amt_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능금액현금 / 길이 18"
                          },
                          "brg_wtm_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "위탁증거금현금 / 길이 18"
                          },
                          "nas_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "순자산현금 / 길이 18"
                          },
                          "eal_amt_sum": {
                            "type": "integer",
                            "format": "int64",
                            "description": "평가금액합계_IO / 길이 18"
                          },
                          "dsg_sba_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예탁대용금액 / 길이 18"
                          },
                          "tot_aet_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총자산금액 / 길이 18"
                          },
                          "tot_byn_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총매수금액 / 길이 18"
                          },
                          "eal_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "평가금액 / 길이 18"
                          },
                          "eal_pls1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "평가손익1_IO / 길이 18"
                          },
                          "xcl_dpa_sum": {
                            "type": "integer",
                            "format": "int64",
                            "description": "정산차금합계_IO / 길이 15"
                          },
                          "lst_dfa_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "최종차액금액_IO / 길이 18"
                          },
                          "opt_eal_pls_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션평가손익금액_IO / 길이 18"
                          },
                          "opt_aloc_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션배정금액 / 길이 18"
                          },
                          "opt_erc_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션행사금액 / 길이 18"
                          },
                          "bf_dd_sba_sll_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "전일대용매도금액 / 길이 18"
                          },
                          "tdt_sba_sll_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "당일대용매도금액 / 길이 18"
                          },
                          "drn_pbl_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "출금가능금액 / 길이 18"
                          },
                          "trd_act_nm": {
                            "type": "string",
                            "description": "거래계좌명_IO / 길이 20"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/krfuture/inquiry/v1/orderable": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "krfutureInquiryOrderable",
        "summary": "선물옵션 주문가능",
        "description": "\n\n원본 시트: API_국내_파생_조회_주문가능수량",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "ost_sby_dit": {
                        "type": "string",
                        "description": "매매구분 / 길이 1 / 1.매도 2.매수"
                      },
                      "fno_iem_cd": {
                        "type": "string",
                        "description": "선물옵션종목코드 / 길이 12 / 예시> KA0166000"
                      },
                      "orr_uit_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "주문단가 / 길이 15.3"
                      },
                      "ost_orr_tp": {
                        "type": "string",
                        "description": "주문유형 / 길이 1 / L.지정가 M.시장가 B.최유리지정가 C.조건부지정가"
                      }
                    },
                    "required": [
                      "act_no",
                      "ost_sby_dit",
                      "fno_iem_cd",
                      "ost_orr_tp"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "act_no": {
                            "type": "string",
                            "description": "계좌번호 / 길이 11"
                          },
                          "anw_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "신규수량 / 길이 18"
                          },
                          "lqd_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "청산가능수량_IO / 길이 18"
                          },
                          "all_orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "전체주문수량_IO / 길이 18"
                          },
                          "copt_sll_ny_stl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "콜옵션매도미결제수량 / 길이 18"
                          },
                          "popt_sll_ny_stl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "풋옵션매도미결제수량 / 길이 18"
                          },
                          "krx1_cal_sll_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "KRX_콜매도수량 / 길이 12"
                          },
                          "krx1_popt_sll_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "KRX_풋매도수량 / 길이 12"
                          },
                          "orr_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능수량_IO / 길이 10"
                          },
                          "orr_pbl_qty1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능수량1_IO / 길이 18"
                          },
                          "orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문수량 / 길이 18"
                          },
                          "anw_orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "신규주문수량 / 길이 18"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/krfuture/inquiry/v1/margin": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "krfutureInquiryMargin",
        "summary": "선물옵션 증거금 상세",
        "description": "\n\n원본 시트: API_국내_파생_조회_증거금",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      }
                    },
                    "required": [
                      "act_no"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dsg_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예탁현금 / 길이 18"
                          },
                          "nxt_dd_amp_dsg_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "익일추정예탁현금 / 길이 18"
                          },
                          "nxt2_dd_amp_dsg_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "익익일추정예탁현금 / 길이 18"
                          },
                          "dsg_sba_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예탁대용금액 / 길이 18"
                          },
                          "dsg_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예탁총액 / 길이 18"
                          },
                          "brg_wtm_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "위탁증거금현금 / 길이 18"
                          },
                          "brg_wtm_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "위탁증거금총액 / 길이 18"
                          },
                          "orr_pbl_amt_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능금액현금 / 길이 18"
                          },
                          "orr_pbl_amt_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능금액총액 / 길이 18"
                          },
                          "wrw_pbl_amt_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "인출가능금액현금 / 길이 18"
                          },
                          "mnc_wtm_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "유지증거금현금 / 길이 18"
                          },
                          "mnc_wtm_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "유지증거금총액 / 길이 18"
                          },
                          "apd_wtm_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "추가증거금현금 / 길이 18"
                          },
                          "apd_wtm_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "추가증거금총액 / 길이 18"
                          },
                          "orr_wtm_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문증거금총액 / 길이 18"
                          },
                          "orr_wtm_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문증거금현금 / 길이 18"
                          },
                          "opt_pr_wtm": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션가격증거금 / 길이 18"
                          },
                          "rrv_wtm": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예비증거금_IO / 길이 18"
                          },
                          "sby_pls_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매매손익금액 / 길이 18"
                          },
                          "opt_byn_cst": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션매수대금_IO / 길이 18"
                          },
                          "opt_sll_cst": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션매도대금_IO / 길이 18"
                          },
                          "frs_xcl_dpa": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물정산차금 / 길이 18"
                          },
                          "frs_lst_dpa": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물최종차금 / 길이 18"
                          },
                          "rba": {
                            "type": "integer",
                            "format": "int64",
                            "description": "미수금 / 길이 18"
                          },
                          "rvb_fee": {
                            "type": "integer",
                            "format": "int64",
                            "description": "미수수수료_IO / 길이 18"
                          },
                          "rvb_odu_fee": {
                            "type": "integer",
                            "format": "int64",
                            "description": "미수연체료 / 길이 18"
                          },
                          "bf_dd_jin_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "전일가입금액_IO / 길이 18"
                          },
                          "tdy_jin_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "금일가입금액_IO / 길이 18"
                          },
                          "bf_dd_rrs_sba": {
                            "type": "integer",
                            "format": "int64",
                            "description": "전일반대대용_IO / 길이 18"
                          },
                          "tdy_rrs_sba": {
                            "type": "integer",
                            "format": "int64",
                            "description": "금일반대대용_IO / 길이 18"
                          },
                          "opt_stl_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션결제금액 / 길이 18"
                          },
                          "rls_pbl_sba": {
                            "type": "integer",
                            "format": "int64",
                            "description": "해제가능대용_IO / 길이 18"
                          },
                          "opt_ant_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션배분금액 / 길이 18"
                          },
                          "opt_erc_pr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션행사가격 / 길이 18"
                          },
                          "men_af_csh_rpm_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "장종료후현금입금금액_IO / 길이 18"
                          },
                          "men_af_sba_rpm_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "장종료후대용입금금액_IO / 길이 18"
                          },
                          "men_af_rpm_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "장종료후입금총액_IO / 길이 18"
                          },
                          "frs_nsk_wtm_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물순위험증거금총액 / 길이 18"
                          },
                          "frs_nsk_wtm_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물순위험증거금현금 / 길이 18"
                          },
                          "fno_nsk_wtm_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물옵션순위험증거금총액 / 길이 18"
                          },
                          "fno_nsk_wtm_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물옵션순위험증거금현금 / 길이 18"
                          },
                          "opt_pr_wtm_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션가격증거금총액 / 길이 18"
                          },
                          "pr_cng_wtm_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "가격변동증거금총액 / 길이 18"
                          },
                          "pr_cng_wtm_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "가격변동증거금현금 / 길이 18"
                          },
                          "srd_cns_wtm_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "스프레드체결증거금총액 / 길이 18"
                          },
                          "srd_cns_wtm_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "스프레드체결증거금현금 / 길이 18"
                          },
                          "min_wtm_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "최소증거금총액 / 길이 18"
                          },
                          "min_wtm_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "최소증거금현금 / 길이 18"
                          },
                          "frs_rzt_pls_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물실현손익총액 / 길이 18"
                          },
                          "frs_rzt_pls_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물실현손익현금 / 길이 18"
                          },
                          "sba_sec_sll_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "대용증권매도금액_IO / 길이 18"
                          },
                          "sba_sec_sll_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "대용증권매도총액_IO / 길이 18"
                          },
                          "wrw_pbl_amt_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "인출가능금액총액 / 길이 18"
                          },
                          "cvc_apm_sba_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "커버드콜지정대용금액_IO / 길이 18"
                          },
                          "ahi_stk_byn_gte_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "현물주식매수확보금액_IO / 길이 18"
                          },
                          "rvb_sct_gte_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "미수유가증권확보금액 / 길이 18"
                          },
                          "lst_stl_dpa": {
                            "type": "integer",
                            "format": "int64",
                            "description": "최종결제차금_IO / 길이 18"
                          },
                          "sll_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도금액 / 길이 18"
                          },
                          "byn_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수금액 / 길이 18"
                          },
                          "cal_erc_popt_aloc_rit_erc_cst": {
                            "type": "integer",
                            "format": "int64",
                            "description": "콜행사풋옵션배정권리행사대금_IO / 길이 18"
                          },
                          "cal_aloc_popt_erc_rit_erc_cst": {
                            "type": "integer",
                            "format": "int64",
                            "description": "콜배정풋옵션행사권리행사대금_IO / 길이 18"
                          },
                          "frs_orr_wtm": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물주문증거금_IO / 길이 18"
                          },
                          "srd_orr_wtm": {
                            "type": "integer",
                            "format": "int64",
                            "description": "스프레드주문증거금 / 길이 18"
                          },
                          "opt_byn_orr_wtm_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션매수주문증거금현금_IO / 길이 18"
                          },
                          "opt_sll_orr_wtm_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션매도주문증거금현금_IO / 길이 18"
                          },
                          "nby_cst": {
                            "type": "integer",
                            "format": "int64",
                            "description": "순매수대금_IO / 길이 18"
                          },
                          "nby_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "순매수현금_IO / 길이 18"
                          },
                          "frs_fee": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물수수료 / 길이 18"
                          },
                          "tot_rsk_wtm_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총위험증거금총액 / 길이 18"
                          },
                          "tot_rsk_wtm_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총위험증거금현금 / 길이 18"
                          },
                          "tdt_frs_nlo_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "당일선물순손실금액_IO / 길이 18"
                          },
                          "gar_dd_bf_nlo_stl_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "수수일전순손실결제금액 / 길이 18"
                          },
                          "iopt_hld_lmt_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주식옵션보유한도수량_IO / 길이 18"
                          },
                          "opt_hld_lmt_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션보유한도수량 / 길이 18"
                          },
                          "cus_fnm": {
                            "type": "string",
                            "description": "고객성명 / 길이 40"
                          },
                          "lst_stl_pr_dfn_bf_wtm_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "최종결제가격확정전증거금총액 / 길이 18"
                          },
                          "lst_stl_pr_dfn_bf_wtm_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "최종결제가격확정전증거금현금 / 길이 18"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/krfuture/inquiry/v1/nightOrderExecutionHistory": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "krfutureInquiryNightOrderExecutionHistory",
        "summary": "(야간)선물옵션 주문체결 내역조회",
        "description": "\n\n원본 시트: API_국내_파생_조회_야간체결",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "CTS": {
                        "type": "string",
                        "description": "CTS / 길이 62 / 다음 데이터 조회를 위한 값. 이전 CTS값과 동일한 값이거나 공백일 경우 마지막 데이터"
                      },
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "orr_dt": {
                        "type": "string",
                        "description": "주문일자 / 길이 8"
                      },
                      "sby_dit_cd": {
                        "type": "string",
                        "description": "매매구분코드 / 길이 1 / 0.전체 1.매도 2.매수"
                      },
                      "cns_dit_cd": {
                        "type": "string",
                        "description": "체결구분코드_IO / 길이 1 / 0.전체 1.체결 2.미체결"
                      },
                      "ost_dit": {
                        "type": "string",
                        "description": "구분 / 길이 1 / 1.주문번호순 2.주문번호역순"
                      },
                      "ost_dit_cd": {
                        "type": "string",
                        "description": "구분코드 / 길이 1 / 9.전체 4.코스피200선물 5.코스피200옵션 D.미니코스피200선물 E.미니코스피200옵션 7.주식선물 8.주식옵션 F.코스닥150선물 L.코스닥150옵션 A.변동성지수선물 B.섹터지수선물 G.유로스톡스50선물 K.KRX300선물 N.위클리옵션 P.코스닥글로벌선물 Q.코리아밸류업선물 R.코스닥150위클리옵션"
                      }
                    },
                    "required": [
                      "act_no",
                      "sby_dit_cd",
                      "cns_dit_cd",
                      "ost_dit",
                      "ost_dit_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fno_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물옵션주문번호 / 길이 10"
                          },
                          "fno_org_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물옵션원주문번호 / 길이 10"
                          },
                          "frs_orr_cnd_dit_cd": {
                            "type": "string",
                            "description": "선물주문조건구분코드 / 길이 1"
                          },
                          "sby_dit_cd": {
                            "type": "string",
                            "description": "매매구분코드 / 길이 1"
                          },
                          "orr_dt": {
                            "type": "string",
                            "description": "주문일자 / 길이 8"
                          },
                          "fno_mo_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물옵션모주문번호 / 길이 10"
                          },
                          "frs_fnd_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물펀드주문번호 / 길이 10"
                          },
                          "cor_can_dit_cd": {
                            "type": "string",
                            "description": "정정취소구분코드 / 길이 1"
                          },
                          "fno_nmn_pr_tp_cd": {
                            "type": "string",
                            "description": "선물옵션호가유형코드 / 길이 1"
                          },
                          "fno_trd_tp_cd": {
                            "type": "string",
                            "description": "선물옵션거래유형코드 / 길이 1"
                          },
                          "fno_iem_cd": {
                            "type": "string",
                            "description": "선물옵션종목코드 / 길이 12"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 60"
                          },
                          "orr_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "주문가격 / 길이 15.2"
                          },
                          "orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문수량 / 길이 18"
                          },
                          "orr_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문금액 / 길이 18"
                          },
                          "cor_can_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "정정취소수량 / 길이 18"
                          },
                          "cor_can_cfm_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "정정취소확인수량 / 길이 18"
                          },
                          "frs_ny_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물미체결수량 / 길이 18"
                          },
                          "frs_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물체결수량 / 길이 18"
                          },
                          "frs_cns_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "선물체결금액 / 길이 15"
                          },
                          "fno_cns_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "선물옵션체결가격 / 길이 15.2"
                          },
                          "fr_mct_cns_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "원월물체결금액 / 길이 15"
                          },
                          "nr_mct_cns_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "근월물체결금액 / 길이 15"
                          },
                          "frs_orr_mdi_dit_cd": {
                            "type": "string",
                            "description": "선물주문매체구분코드 / 길이 1"
                          },
                          "mmb_pcs_hdn": {
                            "type": "string",
                            "description": "회원처리항목 / 길이 30"
                          },
                          "ivs_sgy_cd": {
                            "type": "string",
                            "description": "투자전략코드 / 길이 2"
                          },
                          "frs_fnd_no": {
                            "type": "string",
                            "description": "선물펀드번호 / 길이 5"
                          },
                          "fno_rjt_rsn_cd": {
                            "type": "string",
                            "description": "선물옵션거부사유코드 / 길이 4"
                          },
                          "orr_orn_dit_cd": {
                            "type": "string",
                            "description": "주문발생구분코드 / 길이 1"
                          },
                          "wtm_mpi_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "증거금부과수량 / 길이 18"
                          },
                          "wtm_iny_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "증거금면제수량 / 길이 18"
                          },
                          "pcs_rlt_msg_cd": {
                            "type": "string",
                            "description": "처리결과메시지코드 / 길이 4"
                          },
                          "orr_rtn_tm": {
                            "type": "string",
                            "description": "주문접수시각 / 길이 9"
                          },
                          "egc_orr_dit_cd": {
                            "type": "string",
                            "description": "비상주문구분코드 / 길이 1"
                          },
                          "orr_cnd_dit_cd_nm": {
                            "type": "string",
                            "description": "주문조건구분코드명_IO / 길이 60"
                          },
                          "sby_dit_nm": {
                            "type": "string",
                            "description": "매매구분명_IO / 길이 4"
                          },
                          "cor_can_dit_nm": {
                            "type": "string",
                            "description": "정정취소구분명_IO / 길이 4"
                          },
                          "nmn_pr_tp_cd_nm": {
                            "type": "string",
                            "description": "호가유형코드명_IO / 길이 60"
                          },
                          "trd_tp_nm": {
                            "type": "string",
                            "description": "거래유형명 / 길이 60"
                          },
                          "orr_mdi_nm": {
                            "type": "string",
                            "description": "주문매체명_IO / 길이 20"
                          },
                          "frs_sll_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물매도금액 / 길이 18"
                          },
                          "frs_sll_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물매도수량 / 길이 18"
                          },
                          "frs_byn_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물매수수량 / 길이 18"
                          },
                          "frs_byn_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물매수금액 / 길이 18"
                          },
                          "opt_byn_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션매수금액 / 길이 18"
                          },
                          "opt_byn_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션매수수량_IO / 길이 18"
                          },
                          "opt_sll_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션매도수량_IO / 길이 18"
                          },
                          "opt_sll_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션매도금액 / 길이 18"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/krfuture/inquiry/v1/nightBalance": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "krfutureInquiryNightBalance",
        "summary": "(야간)선물옵션 잔고현황",
        "description": "\n\n원본 시트: API_국내_파생_조회_야간잔고",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "ost_dit_cd": {
                        "type": "string",
                        "description": "구분코드 / 길이 1 / 9.전체 4.코스피200선물 5.코스피200옵션 D.미니코스피200선물 E.미니코스피200옵션 7.주식선물 8.주식옵션 F.코스닥150선물 L.코스닥150옵션 A.변동성지수선물 B.섹터지수선물 G.유로스톡스50선물 K.KRX300선물 N.위클리옵션 P.코스닥글로벌선물 Q.코리아밸류업선물 R.코스닥150위클리옵션"
                      },
                      "ost_dit_cd1": {
                        "type": "string",
                        "description": "구분코드1 / 길이 1 / 1.보유 9.전체"
                      },
                      "CTS": {
                        "type": "string",
                        "description": "CTS / 길이 12 / 다음 데이터 조회를 위한 값. 이전 CTS값과 동일한 값이거나 공백일 경우 마지막 데이터"
                      }
                    },
                    "required": [
                      "act_no",
                      "ost_dit_cd",
                      "ost_dit_cd1"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fno_iem_cd": {
                            "type": "string",
                            "description": "선물옵션종목코드 / 길이 12"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 60"
                          },
                          "sby_dit_nm": {
                            "type": "string",
                            "description": "매매구분명_IO / 길이 4"
                          },
                          "tdy_ny_stl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "금일미결제수량 / 길이 18"
                          },
                          "byn_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수체결수량 / 길이 18"
                          },
                          "sll_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도체결수량 / 길이 18"
                          },
                          "ny_cns_byn_orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "미체결매수주문수량 / 길이 18"
                          },
                          "ny_cns_sll_orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "미체결매도주문수량 / 길이 18"
                          },
                          "avg_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "평균가격_IO / 길이 15.3"
                          },
                          "pti_uit_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "진입단가_IO / 길이 15.3"
                          },
                          "now_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "현재가격 / 길이 15.3"
                          },
                          "tdt_cns_byn_avg_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "당일체결매수평균가격_IO / 길이 15.3"
                          },
                          "tdt_cns_sll_avg_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "당일체결매도평균가격_IO / 길이 15.3"
                          },
                          "eal_pls_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "평가손익금액 / 길이 18"
                          },
                          "frs_pti_eal_pls": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물진입평가손익_IO / 길이 15"
                          },
                          "sby_pls_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매매손익금액 / 길이 18"
                          },
                          "frs_pti_sby_pls": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물진입매매손익_IO / 길이 15"
                          },
                          "tot_pls_sum": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총손익합계_IO / 길이 15"
                          },
                          "lqd_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "청산수량_IO / 길이 15"
                          },
                          "lqd_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "청산가능수량_IO / 길이 15"
                          },
                          "opt_eal_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "옵션평가금액 / 길이 18"
                          },
                          "fno_fee": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물옵션수수료 / 길이 18"
                          },
                          "byn_cns_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수체결금액 / 길이 18"
                          },
                          "sll_cns_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도체결금액 / 길이 18"
                          },
                          "abk_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "장부금액 / 길이 18"
                          },
                          "pti_abk_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "진입장부금액_IO / 길이 15"
                          },
                          "sby_pls_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "매매손익율_IO / 길이 10.3"
                          },
                          "pti_eal_pft_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "진입평가수익율_IO / 길이 5.2"
                          },
[...]
