{
  "openapi": "3.0.3",
  "info": {
    "title": "NH투자증권 Open API — 국내채권 (KR Bond)",
    "version": "v1",
    "description": "NH투자증권 Open API 중 **국내채권 (KR Bond)** 자산군의 REST 및 실시간(WebSocket) API 문서입니다. (기준: API명세서 260721 / 나무 환경 · 필드명은 명세서 C열 기준)\n\n- REST: POST + JSON, 요청 Input_0 / 응답 Output_0(배열) + message.\n- 실시간: WebSocket, 푸시=JSON. x-realtime-channels.protocol 참조.\n- 인증: POST /oauth2/token → REST 는 Authorization/x-client-id/x-client-secret, WS 는 header.token."
  },
  "servers": [
    {
      "url": "https://devapi.nhplug.com:8443",
      "description": "🟢 테스트 (Test) — 실매매 전 검증 [기본]"
    },
    {
      "url": "https://moapi.nhplug.com:8443",
      "description": "🟢 모의투자 (Mock) — 교육이수"
    },
    {
      "url": "https://api.nhplug.com:8443",
      "description": "🔴 실거래 (Live) — 실제 주문 체결 (검증 후에만)"
    }
  ],
  "security": [
    {
      "BearerAuth": [],
      "ClientId": [],
      "ClientSecret": []
    }
  ],
  "x-environments": {
    "portal": "https://www.nhplug.com",
    "note": "⚠️ 실주문은 실거래(live)에서만 체결. 개발·검증은 test/mock 우선. 순서: 테스트/모의→검증→실거래. 나무(Namuh) 기준(N2 추후).",
    "test": {
      "desc": "테스트 — 실매매 전 검증",
      "rest": "https://devapi.nhplug.com:8443",
      "websocket": "wss://devapi.nhplug.com:7070"
    },
    "mock": {
      "desc": "모의투자 — 교육이수",
      "rest": "https://moapi.nhplug.com:8443",
      "websocket": "wss://moapi.nhplug.com:17070"
    },
    "live": {
      "desc": "실거래 — 실제 주문 체결",
      "rest": "https://api.nhplug.com:8443",
      "websocket": "wss://api.nhplug.com:7070"
    }
  },
  "tags": [
    {
      "name": "주문 (Order)"
    },
    {
      "name": "조회 (Inquiry)"
    },
    {
      "name": "시세 (Market Data)"
    },
    {
      "name": "실시간 (Realtime)"
    }
  ],
  "paths": {
    "/krbond/order/v1/bondBuy": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krbondOrderBondBuy",
        "summary": "장내채권 매수주문",
        "description": "원본 시트: API_국내_채권_주문_매수",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> 국고02000-3106(21-5)인 경우, C03502GB6"
                      },
                      "orr_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문수량 / 길이 18"
                      },
                      "orr_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "주문가격 / 길이 15.3"
                      },
                      "sam_mkt_end_smo_sby_yn": {
                        "type": "string",
                        "description": "소액시장종료동시매매여부 / 길이 1 / Y.동시매매 N.일반"
                      }
                    },
                    "required": [
                      "act_no",
                      "iem_cd",
                      "orr_qty",
                      "orr_pr"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orr_gno_tab_cd": {
                            "type": "string",
                            "description": "주문채번팀점코드 / 길이 4"
                          },
                          "mkt_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "시장주문번호 / 길이 10"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krbond/order/v1/bondSell": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krbondOrderBondSell",
        "summary": "장내채권 매도주문",
        "description": "원본 시트: API_국내_채권_주문_매도",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> 국고02000-3106(21-5)인 경우, C03502GB6"
                      },
                      "orr_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문수량 / 길이 18"
                      },
                      "orr_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "주문가격 / 길이 15.3"
                      },
                      "sam_mkt_end_smo_sby_yn": {
                        "type": "string",
                        "description": "소액시장종료동시매매여부 / 길이 1 / Y.동시매매 N.일반"
                      },
                      "byn_dt": {
                        "type": "string",
                        "description": "매수일자 / 길이 8 / YYYYMMDD"
                      },
                      "syn_ttn_dit_cd": {
                        "type": "string",
                        "description": "종합과세구분코드 / 길이 1 / 1.종합과세 2.분리과세"
                      }
                    },
                    "required": [
                      "act_no",
                      "iem_cd",
                      "orr_qty",
                      "orr_pr",
                      "byn_dt",
                      "syn_ttn_dit_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orr_gno_tab_cd": {
                            "type": "string",
                            "description": "주문채번팀점코드 / 길이 4"
                          },
                          "mkt_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "시장주문번호 / 길이 10"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krbond/order/v1/bondModify": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krbondOrderBondModify",
        "summary": "장내채권 정정주문",
        "description": "원본 시트: API_국내_채권_주문_정정",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "org_mkt_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "원시장주문번호 / 길이 10"
                      },
                      "all_pat_dit_cd": {
                        "type": "string",
                        "description": "전체일부구분코드 / 길이 1 / 1.잔량(전체) 2.일부"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> 국고02000-3106(21-5)인 경우, C03502GB6"
                      },
                      "cor_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "정정수량 / 길이 18"
                      },
                      "cor_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "정정가격 / 길이 15.3"
                      }
                    },
                    "required": [
                      "act_no",
                      "org_mkt_orr_no",
                      "all_pat_dit_cd",
                      "iem_cd",
                      "cor_pr"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orr_gno_tab_cd": {
                            "type": "string",
                            "description": "주문채번팀점코드 / 길이 4"
                          },
                          "mkt_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "시장주문번호 / 길이 10"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krbond/order/v1/bondCancel": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krbondOrderBondCancel",
        "summary": "장내채권 취소주문",
        "description": "원본 시트: API_국내_채권_주문_취소",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "org_mkt_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "원시장주문번호 / 길이 10"
                      },
                      "all_pat_dit_cd": {
                        "type": "string",
                        "description": "전체일부구분코드 / 길이 1 / 1.잔량(전체) 2.일부"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> 국고02000-3106(21-5)인 경우, C03502GB6"
                      },
                      "cor_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "정정수량 / 길이 18"
                      }
                    },
                    "required": [
                      "act_no",
                      "org_mkt_orr_no",
                      "all_pat_dit_cd",
                      "iem_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orr_gno_tab_cd": {
                            "type": "string",
                            "description": "주문채번팀점코드 / 길이 4"
                          },
                          "mkt_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "시장주문번호 / 길이 10"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krbond/order/v1/bondSubstituteSell": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krbondOrderBondSubstituteSell",
        "summary": "장내채권 대용매도주문",
        "description": "원본 시트: API_국내_채권_주문_대용매도",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12"
                      },
                      "orr_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문수량 / 길이 18"
                      },
                      "orr_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "주문가격 / 길이 15.3"
                      },
                      "sam_mkt_end_smo_sby_yn": {
                        "type": "string",
                        "description": "소액시장종료동시매매여부 / 길이 1 / Y.동시매매 N.일반"
                      },
                      "byn_dt": {
                        "type": "string",
                        "description": "매수일자 / 길이 8 / YYYYMMDD"
                      },
                      "syn_ttn_dit_cd": {
                        "type": "string",
                        "description": "종합과세구분코드 / 길이 1 / 1.종합과세 2.분리과세"
                      }
                    },
                    "required": [
                      "act_no",
                      "iem_cd",
                      "orr_qty",
                      "orr_pr",
                      "byn_dt",
                      "syn_ttn_dit_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orr_gno_tab_cd": {
                            "type": "string",
                            "description": "주문채번팀점코드 / 길이 4"
                          },
                          "mkt_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "시장주문번호 / 길이 10"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krbond/inquiry/v1/bondOrderableQuantity": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "krbondInquiryBondOrderableQuantity",
        "summary": "장내채권 주문가능수량 조회",
        "description": "원본 시트: API_국내_채권_조회_주문가능수량",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "orr_mkt_cd": {
                        "type": "string",
                        "description": "주문시장코드 / 길이 8 / 11.일반채권 12.소액채권"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 1"
                      },
                      "sby_dit_cd": {
                        "type": "string",
                        "description": "매매구분코드 / 길이 12 / 1.매도 2.매수"
                      },
                      "orr_amt": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문금액 / 길이 18"
                      },
                      "orr_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "주문가격 / 길이 15.3"
                      }
                    },
                    "required": [
                      "act_no",
                      "orr_mkt_cd",
                      "iem_cd",
                      "sby_dit_cd",
                      "orr_amt",
                      "orr_pr"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sby_fee": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매매수수료 / 길이 18"
                          },
                          "fee_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "수수료율 / 길이 15.9"
                          },
                          "orr_pbl_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능금액 / 길이 18"
                          },
                          "orr_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능수량 / 길이 18"
                          },
                          "orr_pbl_qty1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능수량1 / 길이 18"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/krbond/TODO/API_국내_채권_조회_정정취소가능주문": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "krbondTODOAPI_국내_채권_조회_정정취소가능주문",
        "summary": "장내채권 주문체결내역 조회",
        "description": "원본 시트: API_국내_채권_조회_정정취소가능주문",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "orr_dt": {
                        "type": "string",
                        "description": "주문일자 / 길이 8 / YYYYMMDD"
                      },
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "itg_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "통합주문번호 / 길이 10"
                      },
                      "ost_cns_dit": {
                        "type": "string",
                        "description": "체결구분 / 길이 1 / 0.전체 1.미체결 2.체결"
                      },
                      "CTS": {
                        "type": "string",
                        "description": "CTS / 길이 17 / 다음 데이터 조회를 위한 값. 이전 CTS값과 동일한 값이거나 공백일 경우 마지막 데이터"
                      }
                    },
                    "required": [
                      "orr_dt",
                      "act_no",
                      "ost_cns_dit",
                      "CTS"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cus_fnm": {
                            "type": "string",
                            "description": "고객성명 / 길이 40"
                          },
                          "itg_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "통합주문번호 / 길이 11"
                          },
                          "orr_mkt_cd_nm": {
                            "type": "string",
                            "description": "주문시장코드명 / 길이 50"
                          },
                          "mo_itg_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "모통합주문번호 / 길이 11"
                          },
                          "org_itg_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "원통합주문번호 / 길이 11"
                          },
                          "iem_cd": {
                            "type": "string",
                            "description": "종목코드 / 길이 12"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 50"
                          },
                          "sby_dit_cd_nm": {
                            "type": "string",
                            "description": "매매구분코드명 / 길이 50"
                          },
                          "cor_can_dit_cd_nm": {
                            "type": "string",
                            "description": "정정취소구분코드명_IO / 길이 4"
                          },
                          "lon_dt": {
                            "type": "string",
                            "description": "대출일자 / 길이 8"
                          },
                          "cfd_lon_cd": {
                            "type": "string",
                            "description": "신용대출코드 / 길이 20 / 00.일반거래 01.유통융자 02.자기융자 03.유통대주 04.자기대주 10.매입자금대출"
                          },
                          "nmn_pr_tp_cd_nm": {
                            "type": "string",
                            "description": "호가유형코드명_IO / 길이 30"
                          },
                          "orr_cnd_dit_cd_nm": {
                            "type": "string",
                            "description": "주문조건구분코드명_IO / 길이 60"
                          },
                          "orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문수량 / 길이 19"
                          },
                          "orr_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "주문가격 / 길이 15.3"
                          },
                          "tot_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총체결수량_IO / 길이 23"
                          },
                          "cns_avg_uit_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "체결평균단가 / 길이 15.3"
                          },
                          "cns_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "체결금액 / 길이 16"
                          },
                          "cns_cnt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "체결건수 / 길이 19"
                          },
                          "ny_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "미체결수량_IO / 길이 23"
                          },
                          "cor_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "정정수량 / 길이 19"
                          },
                          "can_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "취소수량 / 길이 19"
                          },
                          "orr_tm": {
                            "type": "string",
                            "description": "주문시각 / 길이 9"
                          },
                          "orr_mdi": {
                            "type": "string",
                            "description": "주문매체_IO / 길이 20"
                          },
                          "bnd_byn_dt": {
                            "type": "string",
                            "description": "채권매수일자 / 길이 8"
                          },
                          "syn_ttn_dit_cd_nm": {
                            "type": "string",
                            "description": "종합과세구분코드명 / 길이 50"
                          },
                          "orr_rjt_rsn_cd_nm": {
                            "type": "string",
                            "description": "주문거부사유코드명_IO / 길이 4"
                          },
                          "pcs_emp_no": {
                            "type": "string",
                            "description": "처리사원번호 / 길이 6"
                          },
                          "rmt_mkt_cd": {
                            "type": "string",
                            "description": "요청시장코드 / 길이 3"
                          },
                          "sor_mkt_sli_yn": {
                            "type": "string",
                            "description": "SOR시장분할여부 / 길이 1"
                          },
                          "krx_lnt_opi_sec_co_cd": {
                            "type": "string",
                            "description": "거래소대량상대증권회사코드 / 길이 5"
                          },
                          "krx_lnt_opi_act_no": {
                            "type": "string",
                            "description": "거래소대량상대계좌번호 / 길이 12"
                          },
                          "krx_lnt_cnf_cpl_hur": {
                            "type": "string",
                            "description": "거래소대량협의완료시간 / 길이 9"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "x-todo": "원본 명세서 URI 미정",
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/krbond/inquiry/v1/bondModifiableOrder": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "krbondInquiryBondModifiableOrder",
        "summary": "장내채권 주문체결내역 조회",
        "description": "원본 시트: API_국내_채권_조회_체결내역",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "orr_dt": {
                        "type": "string",
                        "description": "주문일자 / 길이 8 / YYYYMMDD"
                      },
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "itg_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "통합주문번호 / 길이 10"
                      },
                      "orr_mkt_cd": {
                        "type": "string",
                        "description": "주문시장코드 / 길이 2 / 00.전체 11.장내채권 12.소액채권"
                      },
                      "ost_cns_dit": {
                        "type": "string",
                        "description": "체결구분 / 길이 1 / 0.전체 1.미체결 2.체결"
                      }
                    },
                    "required": [
                      "orr_dt",
                      "act_no",
                      "ost_cns_dit"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cus_fnm": {
                            "type": "string",
                            "description": "고객성명 / 길이 40"
                          },
                          "itg_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "통합주문번호 / 길이 11"
                          },
                          "orr_mkt_cd_nm": {
                            "type": "string",
                            "description": "주문시장코드명 / 길이 50"
                          },
                          "mo_itg_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "모통합주문번호 / 길이 11"
                          },
                          "org_itg_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "원통합주문번호 / 길이 11"
                          },
                          "iem_cd": {
                            "type": "string",
                            "description": "종목코드 / 길이 12"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 50"
                          },
                          "sby_dit_cd_nm": {
                            "type": "string",
                            "description": "매매구분코드명 / 길이 50"
                          },
                          "cor_can_dit_cd_nm": {
                            "type": "string",
                            "description": "정정취소구분코드명 / 길이 4"
                          },
                          "lon_dt": {
                            "type": "string",
                            "description": "대출일자 / 길이 8"
                          },
                          "cfd_lon_cd": {
                            "type": "string",
                            "description": "신용대출코드 / 길이 20 / 00.일반거래 01.유통융자 02.자기융자 03.유통대주 04.자기대주 10.매입자금대출"
                          },
                          "nmn_pr_tp_cd_nm": {
                            "type": "string",
                            "description": "호가유형코드명 / 길이 30"
                          },
                          "orr_cnd_dit_cd_nm": {
                            "type": "string",
                            "description": "주문조건구분코드명 / 길이 60"
                          },
                          "orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문수량 / 길이 19"
                          },
                          "orr_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "주문가격 / 길이 15.3"
                          },
                          "tot_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총체결수량 / 길이 23"
                          },
                          "cns_avg_uit_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "체결평균단가 / 길이 15.3"
                          },
                          "cns_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "체결금액 / 길이 16"
                          },
                          "cns_cnt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "체결건수 / 길이 19"
                          },
                          "ny_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "미체결수량 / 길이 23"
                          },
                          "cor_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "정정수량 / 길이 19"
                          },
                          "can_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "취소수량 / 길이 19"
                          },
                          "orr_tm": {
                            "type": "string",
                            "description": "주문시각 / 길이 9"
                          },
                          "orr_mdi": {
                            "type": "string",
                            "description": "주문매체 / 길이 20"
                          },
                          "bnd_byn_dt": {
                            "type": "string",
                            "description": "채권매수일자 / 길이 8"
                          },
                          "syn_ttn_dit_cd_nm": {
                            "type": "string",
                            "description": "종합과세구분코드명 / 길이 50"
                          },
                          "orr_rjt_rsn_cd_nm": {
                            "type": "string",
                            "description": "주문거부사유코드명 / 길이 4"
                          },
                          "pcs_emp_no": {
                            "type": "string",
                            "description": "처리사원번호 / 길이 6"
                          },
                          "rmt_mkt_cd": {
                            "type": "string",
                            "description": "요청시장코드 / 길이 3 / SOR/KRX/NXT"
                          },
                          "sor_mkt_sli_yn": {
                            "type": "string",
                            "description": "SOR시장분할여부 / 길이 1 / Y.분할 N.미분할"
                          },
                          "krx_lnt_opi_sec_co_cd": {
                            "type": "string",
                            "description": "거래소대량상대증권회사코드 / 길이 5"
                          },
                          "krx_lnt_opi_act_no": {
                            "type": "string",
                            "description": "거래소대량상대계좌번호 / 길이 12"
                          },
                          "krx_lnt_cnf_cpl_hur": {
                            "type": "string",
                            "description": "거래소대량협의완료시간 / 길이 9"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/krbond/inquiry/v1/bondBalance": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "krbondInquiryBondBalance",
        "summary": "장내채권 잔고조회",
        "description": "원본 시트: API_국내_채권_조회_잔고",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "iqr_dt": {
                        "type": "string",
                        "description": "조회일자 / 길이 8 / YYYYMMDD"
                      },
                      "iqr_dit": {
                        "type": "string",
                        "description": "조회구분 / 길이 1 / 0.매수일별 조회 1.종목별조회"
                      }
                    },
                    "required": [
                      "act_no",
                      "iqr_dt",
                      "iqr_dit"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tot_aet_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총자산금액 / 길이 18"
                          },
                          "tot_byn_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총매수금액 / 길이 18"
                          },
                          "tot_eal_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총평가금액 / 길이 18"
                          },
                          "tot_eal_pls": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총평가손익 / 길이 18"
                          },
                          "dca": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예수금 / 길이 18"
                          },
                          "tot_lon_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총대출금액 / 길이 18"
                          },
                          "pdt_tp_nm": {
                            "type": "string",
                            "description": "상품유형명 / 길이 50"
                          },
                          "iem_cd": {
                            "type": "string",
                            "description": "종목코드 / 길이 12"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 60"
                          },
                          "byn_dt": {
                            "type": "string",
                            "description": "매수일자 / 길이 8"
                          },
                          "cur_cd": {
                            "type": "string",
                            "description": "통화코드 / 길이 3"
                          },
                          "itg_bnc_qty": {
                            "type": "number",
                            "format": "double",
                            "description": "통합잔고수량 / 길이 18.3"
                          },
                          "itg_ny_stl_qty": {
                            "type": "number",
                            "format": "double",
                            "description": "통합미결제수량 / 길이 18.3"
                          },
                          "itg_bnc_qty_sum": {
                            "type": "number",
                            "format": "double",
                            "description": "통합잔고수량합계 / 길이 18.3"
                          },
                          "nsv_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "비저축수량 / 길이 18"
                          },
                          "avg_phs_uit_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "평균매입단가 / 길이 18.5"
                          },
                          "phs_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "매입가격 / 길이 18.2"
                          },
                          "eal_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "평가금액 / 길이 18"
                          },
                          "eal_pls_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "평가손익금액 / 길이 18.2"
                          },
                          "xrn_dt": {
                            "type": "string",
                            "description": "만기일자 / 길이 8"
                          },
                          "byn_pft_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "매수수익율 / 길이 15.9"
                          },
                          "svl_dd_cnt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "잔존일수 / 길이 10"
                          },
                          "xrn_rdp_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "만기상환금액 / 길이 18"
                          },
                          "syn_ttn_dit_cd": {
                            "type": "string",
                            "description": "종합과세구분코드 / 길이 1"
                          },
                          "syn_ttn_dit_cd_nm": {
                            "type": "string",
                            "description": "종합과세구분코드명 / 길이 20"
                          },
                          "tax_sum": {
                            "type": "integer",
                            "format": "int64",
                            "description": "세금합계 / 길이 18"
                          },
                          "cfd_eal_ogt_cfd_grd_cd1": {
                            "type": "string",
                            "description": "신용평가기관신용등급코드1 / 길이 4"
                          },
                          "tp_cd_nm": {
                            "type": "string",
                            "description": "유형코드명 / 길이 30"
                          },
                          "fc_sec_trd_nat_cd": {
                            "type": "string",
                            "description": "외화증권거래국가코드 / 길이 3"
                          },
                          "nat_cd_nm": {
                            "type": "string",
                            "description": "국가코드명 / 길이 40"
                          },
                          "pft_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "수익율 / 길이 15.9"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/krbond/inquiry/v1/bondSubstituteBalance": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "krbondInquiryBondSubstituteBalance",
        "summary": "장내채권 대용잔고조회",
        "description": "원본 시트: API_국내_채권_조회_대용잔고",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "frs_act_no": {
                        "type": "string",
                        "description": "선물계좌번호 / 길이 11"
                      },
                      "ahi_act_no": {
                        "type": "string",
                        "description": "현물계좌번호 / 길이 11"
                      }
                    },
                    "required": [
                      "frs_act_no"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "act_no": {
                            "type": "string",
                            "description": "계좌번호 / 길이 11"
                          },
                          "iem_cd": {
                            "type": "string",
                            "description": "종목코드 / 길이 12"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 50"
                          },
                          "bnc_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "잔고수량 / 길이 18"
                          },
                          "sba_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "대용가능수량 / 길이 18"
                          },
                          "frs_sba_apm_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "선물대용지정수량 / 길이 18"
                          },
                          "syn_ttn_dit_cd": {
                            "type": "string",
                            "description": "종합과세구분코드 / 길이 1"
                          },
                          "syn_ttn_dit_cd_nm": {
                            "type": "string",
                            "description": "종합과세구분코드명 / 길이 50"
                          },
                          "byn_dt": {
                            "type": "string",
                            "description": "매수일자 / 길이 8"
                          },
                          "xrn_dt": {
                            "type": "string",
                            "description": "만기일자 / 길이 8"
                          },
                          "sba_pr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "대용가격 / 길이 18"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/krbond/quote/v1/bondCurrent": {
      "post": {
        "tags": [
          "시세 (Market Data)"
        ],
        "operationId": "krbondQuoteBondCurrent",
        "summary": "장내채권 현재가",
        "description": "원본 시트: API_국내_채권_시세_현재가",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "iem_cd": {
                        "type": "string",
                        "description": "업체코드 / 길이 9 / 예시> 국민주택 1종 23-05일 경우, C01501DD5"
                      },
                      "market": {
                        "type": "string",
                        "description": "시장구분 / 길이 1 / 소액채권일때만 0.일반채권 1.소액채권"
                      }
                    },
                    "required": [
                      "iem_cd",
                      "market"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 45"
                          },
                          "bond_stnd_iscd": {
                            "type": "string",
                            "description": "코드 / 길이 12"
                          },
                          "iem_cd": {
                            "type": "string",
                            "description": "단축코드 / 길이 9"
                          },
                          "pblc_date": {
                            "type": "string",
                            "description": "발행일 / 길이 8 / YYYYMMDD"
                          },
                          "rdmp_date": {
                            "type": "string",
                            "description": "상환일 / 길이 8 / YYYYMMDD"
                          },
                          "lstn_date": {
                            "type": "string",
                            "description": "상장일 / 길이 8 / YYYYMMDD"
                          },
                          "cnvr_stck_iscd": {
                            "type": "string",
                            "description": "전환주식명 / 길이 12"
                          },
                          "cnvsdatez8": {
                            "type": "string",
                            "description": "전환청구시작일 / 길이 8 / YYYYMMDD"
                          },
                          "cnvedatez8": {
                            "type": "string",
                            "description": "전환청구종료일 / 길이 8 / YYYYMMDD"
                          },
                          "dvdn_rckn_date": {
                            "type": "string",
                            "description": "배당기산일 / 길이 8 / YYYYMMDD"
                          },
                          "gurn_istu_name": {
                            "type": "string",
                            "description": "보증기관 / 길이 20"
                          },
                          "pblc_amt": {
                            "type": "integer",
                            "format": "int32",
                            "description": "발행액(백만원) / 길이 8"
                          },
                          "lstn_amt": {
                            "type": "integer",
                            "format": "int32",
                            "description": "상장액(백만원) / 길이 8"
                          },
                          "srfc_mnrt": {
                            "type": "string",
                            "description": "표면금리 / 길이 7"
                          },
                          "sspr": {
                            "type": "integer",
                            "format": "int32",
                            "description": "대용가 / 길이 8"
                          },
                          "evnt_rate": {
                            "type": "string",
                            "description": "전환비율 / 길이 7"
                          },
                          "mtrt_guar_ert": {
                            "type": "string",
                            "description": "보장수익율 / 길이 7"
                          },
                          "cnvr_amt": {
                            "type": "integer",
                            "format": "int32",
                            "description": "전환가격 / 길이 9"
                          },
                          "bond_prpr": {
                            "type": "number",
                            "format": "double",
                            "description": "현재가 / 길이 11.2"
                          },
                          "bond_oprc": {
                            "type": "number",
                            "format": "double",
                            "description": "시가 / 길이 11.2"
                          },
                          "bond_hgpr": {
                            "type": "number",
                            "format": "double",
                            "description": "고가 / 길이 11.2"
                          },
                          "bond_lwpr": {
                            "type": "number",
                            "format": "double",
                            "description": "저가 / 길이 11.2"
                          },
                          "acml_vol": {
                            "type": "number",
                            "format": "double",
                            "description": "누적거래량 / 길이 15"
                          },
                          "acml_tr_pbmn": {
                            "type": "number",
                            "format": "double",
                            "description": "누적거래대금 / 길이 11"
                          },
                          "bond_askp1": {
                            "type": "number",
                            "format": "double",
                            "description": "매도1호가 / 길이 11.2"
                          },
                          "askp_rsqn1": {
                            "type": "number",
                            "format": "double",
                            "description": "매도1호가잔량 / 길이 15"
                          },
                          "askp_ert1": {
                            "type": "number",
                            "format": "double",
                            "description": "매도1호가수익률 / 길이 6.3"
                          },
                          "bond_bidp1": {
                            "type": "number",
                            "format": "double",
                            "description": "매수1호가 / 길이 11.2"
                          },
                          "bidp_rsqn1": {
                            "type": "number",
                            "format": "double",
                            "description": "매수1호가잔량 / 길이 15"
                          },
                          "bidp_ert1": {
                            "type": "number",
                            "format": "double",
                            "description": "매수1호가수익률 / 길이 6.3"
                          },
                          "bond_askp2": {
                            "type": "number",
                            "format": "double",
                            "description": "매도2호가 / 길이 11.2"
                          },
                          "askp_rsqn2": {
                            "type": "number",
                            "format": "double",
                            "description": "매도2호가잔량 / 길이 15"
                          },
                          "askp_ert2": {
                            "type": "number",
                            "format": "double",
                            "description": "매도2호가수익률 / 길이 6.3"
                          },
                          "bond_bidp2": {
                            "type": "number",
                            "format": "double",
                            "description": "매수2호가 / 길이 11.2"
                          },
                          "bidp_rsqn2": {
                            "type": "number",
                            "format": "double",
                            "description": "매수2호가잔량 / 길이 15"
                          },
                          "bidp_ert2": {
                            "type": "number",
                            "format": "double",
                            "description": "매수2호가수익률 / 길이 6.3"
                          },
                          "bond_askp3": {
                            "type": "number",
                            "format": "double",
                            "description": "매도3호가 / 길이 11.2"
                          },
                          "askp_rsqn3": {
                            "type": "number",
                            "format": "double",
                            "description": "매도3호가잔량 / 길이 15"
                          },
                          "askp_ert3": {
                            "type": "number",
                            "format": "double",
                            "description": "매도3호가수익률 / 길이 6.3"
                          },
                          "bond_bidp3": {
                            "type": "number",
                            "format": "double",
                            "description": "매수3호가 / 길이 11.2"
                          },
                          "bidp_rsqn3": {
                            "type": "number",
                            "format": "double",
                            "description": "매수3호가잔량 / 길이 15"
                          },
                          "bidp_ert3": {
                            "type": "number",
                            "format": "double",
                            "description": "매수3호가수익률 / 길이 6.3"
                          },
                          "bond_askp4": {
                            "type": "number",
                            "format": "double",
                            "description": "매도4호가 / 길이 11.2"
                          },
                          "askp_rsqn4": {
                            "type": "number",
                            "format": "double",
                            "description": "매도4호가잔량 / 길이 15"
                          },
                          "askp_ert4": {
                            "type": "number",
                            "format": "double",
                            "description": "매도4호가수익률 / 길이 6.3"
                          },
                          "bond_bidp4": {
                            "type": "number",
                            "format": "double",
                            "description": "매수4호가 / 길이 11.2"
                          },
                          "bidp_rsqn4": {
                            "type": "number",
                            "format": "double",
                            "description": "매수4호가잔량 / 길이 15"
                          },
                          "bidp_ert4": {
                            "type": "number",
                            "format": "double",
                            "description": "매수4호가수익률 / 길이 6.3"
                          },
                          "bond_askp5": {
                            "type": "number",
                            "format": "double",
                            "description": "매도5호가 / 길이 11.2"
                          },
                          "askp_rsqn5": {
                            "type": "number",
                            "format": "double",
                            "description": "매도5호가잔량 / 길이 15"
                          },
                          "askp_ert5": {
                            "type": "number",
                            "format": "double",
                            "description": "매도5호가수익률 / 길이 6.3"
                          },
                          "bond_bidp5": {
                            "type": "number",
                            "format": "double",
                            "description": "매수5호가 / 길이 11.2"
                          },
                          "bidp_rsqn5": {
                            "type": "number",
                            "format": "double",
                            "description": "매수5호가잔량 / 길이 15"
                          },
                          "bidp_ert5": {
                            "type": "number",
                            "format": "double",
                            "description": "매수5호가수익률 / 길이 6.3"
                          },
                          "total_askp_rsqn": {
                            "type": "number",
                            "format": "double",
                            "description": "총매도호가잔량 / 길이 15"
                          },
                          "total_bidp_rsqn": {
                            "type": "number",
                            "format": "double",
                            "description": "총매수호가잔량 / 길이 15"
                          },
                          "shrn_iscd": {
                            "type": "string",
                            "description": "종목코드 / 길이 6"
                          },
                          "bond_prdy_clpr": {
                            "type": "number",
                            "format": "double",
                            "description": "전일종가 / 길이 11.2"
                          },
                          "prdy_vrss_sign": {
                            "type": "string",
                            "description": "등락부호 / 길이 1 / 1or6.상한가 2or7.상승 3or0.보합 4or8.하한 5or9.하락 그외.보함+리버스(기세)"
                          },
                          "prdy_vrss": {
                            "type": "number",
                            "format": "double",
                            "description": "전일비 / 길이 11.2"
                          },
                          "bond_dryy_hgpr": {
                            "type": "number",
                            "format": "double",
                            "description": "연중최고 / 길이 11.2"
                          },
                          "bond_dryy_lwpr": {
                            "type": "number",
                            "format": "double",
                            "description": "연중최저 / 길이 11.2"
                          },
                          "bond_cls_code": {
                            "type": "string",
                            "description": "주식사채구분 / 길이 30"
                          },
                          "spcl_cond": {
                            "type": "string",
                            "description": "특이조건 / 길이 60"
                          },
                          "bsop_hour": {
                            "type": "string",
                            "description": "호가시간 / 길이 6"
                          },
                          "bondgbz1": {
                            "type": "string",
                            "description": "채권구분 / 길이 1 / 1.소액채권 2.일반채권 3.소액인데일반채권"
                          },
                          "stopgbz1": {
                            "type": "string",
                            "description": "거래정지구분 / 길이 1 / 0.정상 1.거래정지"
                          },
                          "bond_cnpr_unit": {
                            "type": "string",
                            "description": "가격단위규칙ID / 길이 4"
                          },
                          "bond_cnpr_unit2": {
                            "type": "string",
                            "description": "가격단위규칙ID명 / 길이 5"
                          },
                          "warngbz1": {
                            "type": "string",
                            "description": "투자유의구분 / 길이 1 / 0.정상 1.투자유의지정예고 2.투자유의지정"
                          },
                          "avrg_prtx_unpr": {
                            "type": "number",
                            "format": "double",
                            "description": "평균세전단가 / 길이 16.6 / 민평단가"
                          },
                          "filler": {
                            "type": "string",
                            "description": "FILLER / 길이 13"
                          },
                          "stck_prpr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "현재가 / 길이 7"
                          },
                          "parityz7": {
                            "type": "number",
                            "format": "float",
                            "description": "패러티 / 길이 7.2"
                          },
                          "new_volumez12": {
                            "type": "number",
                            "format": "double",
                            "description": "신규거래량 / 길이 15"
                          },
                          "cntg_hour": {
                            "type": "string",
                            "description": "시간 / 길이 8"
                          },
                          "cntg_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "변동거래량 / 길이 15"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krbond/quote/v1/bondDetail": {
      "post": {
        "tags": [
          "시세 (Market Data)"
        ],
        "operationId": "krbondQuoteBondDetail",
        "summary": "장내채권 상세정보 조회",
        "description": "원본 시트: API_국내_채권_시세_상세정보",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> 국민주택 1종 23-05일 경우, C01501DD5"
                      }
                    },
                    "required": [
                      "iem_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "iem_cd": {
                            "type": "string",
                            "description": "종목코드 / 길이 12"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "채권종목한글명 / 길이 60"
                          },
                          "bnd_iem_eng_nm": {
                            "type": "string",
                            "description": "채권종목영문명 / 길이 60"
                          },
                          "grt_ogt_cd_nm": {
                            "type": "string",
                            "description": "보증기관코드명 / 길이 40"
                          },
                          "cco_ogt_cd_nm": {
                            "type": "string",
                            "description": "주간사기관코드명 / 길이 40"
                          },
                          "pym_agy_ogt_cd_nm": {
                            "type": "string",
                            "description": "지급대행기관코드명 / 길이 40"
                          },
                          "pbs_ogt_cd_nm": {
                            "type": "string",
                            "description": "발행기관코드명 / 길이 40"
                          },
                          "tct_ogt_cd_nm": {
                            "type": "string",
                            "description": "수탁기관코드명 / 길이 40"
                          },
                          "std_iem_cd": {
                            "type": "string",
                            "description": "표준종목코드 / 길이 12"
                          },
                          "iem_cd1": {
                            "type": "string",
                            "description": "종목코드1 / 길이 12"
                          },
                          "pbs_dt": {
                            "type": "string",
                            "description": "발행일자 / 길이 8 / YYYYMMDD"
                          },
                          "rnu_dt": {
                            "type": "string",
                            "description": "매출일자 / 길이 8 / YYYYMMDD"
                          },
                          "ltg_dt": {
                            "type": "string",
                            "description": "상장일자 / 길이 8 / YYYYMMDD"
                          },
                          "xrn_dt": {
                            "type": "string",
                            "description": "만기일자 / 길이 8 / YYYYMMDD"
                          },
                          "int_pym_mtd_tp_cd_nm": {
                            "type": "string",
                            "description": "이자지급방법유형코드명 / 길이 30"
                          },
                          "srf_int_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "표면이자율 / 길이 11.8"
                          },
                          "crp_bnd_dc_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "회사채할인율 / 길이 8.5"
                          },
                          "int_pym_uit_te_cnt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "이자지급단위기간수 / 길이 11"
                          },
                          "int_dd_bse_tp_cd": {
                            "type": "string",
                            "description": "이자일기준유형코드 / 길이 1"
                          },
                          "fst_int_pym_dt": {
                            "type": "string",
                            "description": "최초이자지급일자 / 길이 8 / YYYYMMDD"
                          },
                          "rlr_rbf_int_pym_dt": {
                            "type": "string",
                            "description": "보통직전이자지급일자 / 길이 8 / YYYYMMDD"
                          },
                          "rlr_ntm_int_pym_dt": {
                            "type": "string",
                            "description": "보통차기이자지급일자 / 길이 8 / YYYYMMDD"
                          },
                          "bnk_hdy_pia_pym_mtd_cd": {
                            "type": "string",
                            "description": "은행휴일원리금지급방법코드 / 길이 1"
                          },
                          "obj_iem_cd": {
                            "type": "string",
                            "description": "대상종목코드 / 길이 12"
                          },
                          "obj_stk_iem_nm": {
                            "type": "string",
                            "description": "대상주식종목명 / 길이 60"
                          },
                          "stk_crp_bnd_dit_cd": {
                            "type": "string",
                            "description": "주식회사채구분코드 / 길이 1"
                          },
                          "rit_dit_cd": {
                            "type": "string",
                            "description": "권리구분코드 / 길이 2"
                          },
                          "xrn_rdp_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "만기상환율 / 길이 18.8"
                          },
                          "erc_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "행사가격 / 길이 15.6"
                          },
                          "asr_pft_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "보장수익율 / 길이 15.9"
                          },
                          "erc_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "행사비율 / 길이 11.8"
                          },
                          "bnd_tp_cd_nm": {
                            "type": "string",
                            "description": "채권유형코드명 / 길이 50"
                          },
                          "abs_dit_cd": {
                            "type": "string",
                            "description": "자산유동화증권구분코드 / 길이 2"
                          },
                          "ltg_nst_tp_cd_nm": {
                            "type": "string",
                            "description": "상장비상장유형코드명 / 길이 20"
                          },
                          "rdp_mtd_nm": {
                            "type": "string",
                            "description": "상환방법명 / 길이 20"
                          },
                          "dfm_te_cnt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "거치기간수 / 길이 11"
                          },
                          "sli_rdp_nbt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "분할상환횟수 / 길이 10"
                          },
                          "rnu_tp_cd": {
                            "type": "string",
                            "description": "매출유형코드 / 길이 1"
                          },
                          "pre_rnu_ptm_int_pym_mtd_cd": {
                            "type": "string",
                            "description": "선매출시점이자지급방법코드 / 길이 1"
                          },
                          "aay_tp_cd": {
                            "type": "string",
                            "description": "선후급유형코드 / 길이 1"
                          },
                          "int_won_uit_udr_pcs_dit_cd": {
                            "type": "string",
                            "description": "이자원단위미만처리구분코드 / 길이 1"
                          },
                          "sri_erc_af_iem_cd": {
                            "type": "string",
                            "description": "신주인수권행사후종목코드 / 길이 12"
                          },
                          "erc_oum_dt": {
                            "type": "string",
                            "description": "행사개시일자 / 길이 8 / YYYYMMDD"
                          },
                          "erc_end_dt": {
                            "type": "string",
                            "description": "행사종료일자 / 길이 8 / YYYYMMDD"
                          },
                          "krw_sba_pr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "원화대용가격 / 길이 18"
                          },
                          "pot_sba_pr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "포인트대용가격 / 길이 18"
                          },
                          "bnd_pbs_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "채권발행총액 / 길이 18"
                          },
                          "cfd_grd_cd": {
                            "type": "string",
                            "description": "신용등급코드1 / 길이 4"
                          },
                          "add_irt": {
                            "type": "number",
                            "format": "double",
                            "description": "가산금리 / 길이 11.8"
                          },
                          "trd_sop_ssp_rop_tp_cd": {
                            "type": "string",
                            "description": "거래정지중단재개유형코드 / 길이 1"
                          },
                          "bnd_trd_sop_rsn_cd": {
                            "type": "string",
                            "description": "채권거래정지사유코드 / 길이 1"
                          },
                          "ltg_aot_rsn_cd": {
                            "type": "string",
                            "description": "상장폐지사유코드 / 길이 2"
                          },
                          "opt_knd_cd_nm": {
                            "type": "string",
                            "description": "옵션종류코드명 / 길이 20"
                          },
                          "xrn_dfn_int_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "만기확정이자율 / 길이 11.8"
                          },
                          "osf_fds_amn_tp_cd_nm": {
                            "type": "string",
                            "description": "자기자본관리유형코드명 / 길이 20"
                          },
                          "sby_fbd_dit_cd_nm": {
                            "type": "string",
                            "description": "매매금지구분코드명 / 길이 20"
                          },
                          "lon_pbl_yn_nm": {
                            "type": "string",
                            "description": "대출가능여부명 / 길이 20"
                          },
                          "nat_bnd_sby_obj_yn_nm": {
                            "type": "string",
                            "description": "국채매매대상여부명 / 길이 20"
                          },
                          "plt_cnd_nm": {
                            "type": "string",
                            "description": "특이조건명 / 길이 60"
                          },
                          "int_rt_dsn_bse_irt_knd_cts": {
                            "type": "string",
                            "description": "이자율결정기준금리종류내용 / 길이 100"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krbond/quote/v1/bondTradingStatus": {
      "post": {
        "tags": [
          "시세 (Market Data)"
        ],
        "operationId": "krbondQuoteBondTradingStatus",
        "summary": "장내채권 매매현황",
        "description": "원본 시트: API_국내_채권_시세_매매현황",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "gubun": {
                        "type": "string",
                        "description": "INPUT / 길이 1 / 1,종목코드 2.거래량 3.패리티 5.호가종목전체"
                      }
                    },
                    "required": [
                      "gubun"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entcodez4": {
                            "type": "string",
                            "description": "업체코드 / 길이 4"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "CB종목명 / 길이 80"
                          },
                          "bond_prpr": {
                            "type": "number",
                            "format": "double",
                            "description": "현재가 / 길이 11.2"
                          },
                          "bond_askp": {
                            "type": "number",
                            "format": "double",
                            "description": "매도호가 / 길이 11.2"
                          },
                          "askp_rsqn": {
                            "type": "integer",
                            "format": "int32",
                            "description": "매도잔량 / 길이 18"
                          },
                          "bond_bidp": {
                            "type": "number",
                            "format": "double",
                            "description": "매수호가 / 길이 11.2"
                          },
                          "bidp_rsqn": {
                            "type": "integer",
                            "format": "int32",
                            "description": "매수잔량 / 길이 18"
                          },
                          "acml_vol": {
                            "type": "number",
                            "format": "double",
                            "description": "거래량 / 길이 15"
                          },
                          "parity": {
                            "type": "number",
                            "format": "float",
                            "description": "패러티 / 길이 7.2"
                          },
                          "cnvr_amt": {
                            "type": "integer",
                            "format": "int32",
                            "description": "전환가 / 길이 9"
                          },
                          "shrn_iscd": {
                            "type": "string",
                            "description": "주식코드 / 길이 6"
                          },
                          "stck_prpr": {
                            "type": "integer",
                            "format": "int32",
                            "description": "주식현재가 / 길이 10"
                          },
                          "bond_stnd_iscd": {
                            "type": "string",
                            "description": "채권표준코드 / 길이 12"
                          },
                          "iem_cd": {
                            "type": "string",
                            "description": "CB코드 / 길이 9"
                          },
                          "rate": {
                            "type": "number",
                            "format": "float",
                            "description": "현재가수익율 / 길이 7.3"
                          },
                          "askp_ert": {
                            "type": "number",
                            "format": "float",
                            "description": "매도수익율 / 길이 7.3"
                          },
                          "bidp_ert": {
                            "type": "number",
                            "format": "float",
                            "description": "매수수익율 / 길이 7.3"
                          },
                          "rdmp_date": {
                            "type": "string",
                            "description": "상환일 / 길이 8"
                          },
                          "srfc_mnrt": {
                            "type": "number",
                            "format": "float",
                            "description": "표면금리 / 길이 7.3"
                          },
                          "bond_prdy_clpr": {
                            "type": "number",
                            "format": "double",
                            "description": "전일종가 / 길이 11.2"
                          },
                          "bondgb": {
                            "type": "string",
                            "description": "채권구분 / 길이 1 / 1.소액채권 2.전환사채(소액채권이외)"
                          },
                          "filler": {
                            "type": "string",
                            "description": "FILLER / 길이 28"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krbond/quote/v1/bondDaily": {
      "post": {
        "tags": [
          "시세 (Market Data)"
        ],
        "operationId": "krbondQuoteBondDaily",
        "summary": "장내채권 일자별시세",
        "description": "원본 시트: API_국내_채권_시세_일자별",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 9 / 예시> 국민주택 1종 23-05일 경우, C01501DD5"
                      },
                      "input_date": {
                        "type": "string",
                        "description": "조회일자 / 길이 8 / YYYYMMDD"
                      },
                      "array_cnt": {
                        "type": "string",
                        "description": "읽을갯수 / 길이 3 / 80 125 250 375"
                      },
                      "market_gb": {
                        "type": "string",
                        "description": "시장구분 / 길이 1 / 소액채권일때만 0.일반채권 1.소액채권"
                      }
                    },
                    "required": [
                      "iem_cd",
                      "input_date"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "iem_cd": {
                            "type": "string",
                            "description": "단축종목코드 / 길이 9"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "채권종목명 / 길이 40"
                          },
                          "bond_stnd_iscd": {
                            "type": "string",
                            "description": "표준코드 / 길이 12"
                          },
                          "base_date": {
                            "type": "string",
                            "description": "기준일자 / 길이 6"
                          },
                          "bond_gb": {
                            "type": "string",
                            "description": "채권구분 / 길이 1 / 1.소액채권 2.일반채권 3.소액인데일반채권클릭"
                          },
                          "bsop_date": {
                            "type": "string",
                            "description": "일자 / 길이 8 / YYYYMMDD"
                          },
                          "bond_oprc": {
                            "type": "number",
                            "format": "double",
                            "description": "시가 / 길이 11.2"
                          },
                          "bond_hgpr": {
                            "type": "number",
                            "format": "double",
                            "description": "고가 / 길이 11.2"
                          },
                          "bond_lwpr": {
                            "type": "number",
                            "format": "double",
                            "description": "저가 / 길이 11.2"
                          },
                          "bond_clpr": {
                            "type": "number",
                            "format": "double",
                            "description": "종가 / 길이 11.2"
                          },
                          "prdy_vrss_sign": {
                            "type": "string",
                            "description": "등락부호 / 길이 1 / 1or6.상한가 2or7.상승 3or0.보합 4or8.하한 5or9.하락 그외.보함+리버스(기세)"
                          },
                          "prdy_vrss": {
                            "type": "number",
                            "format": "double",
                            "description": "등락폭 / 길이 11.2"
                          },
                          "prdy_ctrt": {
                            "type": "number",
                            "format": "float",
                            "description": "등락률 / 길이 5.2"
                          },
                          "acml_vol": {
                            "type": "integer",
                            "format": "int64",
                            "description": "거래량 / 길이 15"
                          },
                          "acml_tr_pbmn": {
                            "type": "integer",
                            "format": "int64",
                            "description": "거래대금 / 길이 15"
                          },
                          "vol_prdy_rt": {
                            "type": "number",
                            "format": "float",
                            "description": "거래량전일비 / 길이 6.2"
                          },
                          "oprc_ert": {
                            "type": "number",
                            "format": "double",
                            "description": "시가수익률 / 길이 6.3"
                          },
                          "hgpr_ert": {
                            "type": "number",
                            "format": "double",
                            "description": "고가수익률 / 길이 6.3"
                          },
                          "lwpr_ert": {
                            "type": "number",
                            "format": "double",
                            "description": "저가수익률 / 길이 6.3"
                          },
                          "clpr_ert": {
                            "type": "number",
                            "format": "double",
                            "description": "종가수익률 / 길이 6.3"
                          },
                          "filler": {
                            "type": "string",
                            "description": "FILLER / 길이 100"
                          },
                          "next_key": {
                            "type": "string",
                            "description": "NEXT_KEY / 길이 12"
                          },
                          "nextbutton": {
                            "type": "string",
                            "description": "NEXTBUTTON / 길이 1"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krbond/quote/v1/bondIssuance": {
      "post": {
        "tags": [
          "시세 (Market Data)"
        ],
        "operationId": "krbondQuoteBondIssuance",
        "summary": "장내채권 발행현황",
        "description": "원본 시트: API_국내_채권_시세_발행현황",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "gubun": {
                        "type": "string",
                        "description": "입력구분 / 길이 1 / A.전체 1.전환사체 2.신주인수권부사채 3.교환사채 4.국채 5.통안채 6.금융채 7.비금융특수채 8.회사채 9.지방채 0.기타"
                      }
                    },
                    "required": [
                      "gubun"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "iem_cd": {
                            "type": "string",
                            "description": "단축종목코드 / 길이 9"
                          },
                          "bond_stnd_iscd": {
                            "type": "string",
                            "description": "표준종목코드 / 길이 12"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 80"
                          },
                          "srfc_mnrt": {
                            "type": "number",
                            "format": "float",
                            "description": "표면금리 / 길이 6.3"
                          },
                          "pblc_date": {
                            "type": "string",
                            "description": "발행일 / 길이 8 / YYYYMMDD"
                          },
                          "rdmp_date": {
                            "type": "string",
                            "description": "만기일 / 길이 8 / YYYYMMDD"
                          },
                          "bond_prdy_clpr": {
                            "type": "number",
                            "format": "double",
                            "description": "전일종가 / 길이 11.2"
                          },
                          "filler": {
                            "type": "string",
                            "description": "FILLER / 길이 30"
                          },
                          "next_key": {
                            "type": "string",
                            "description": "NEXT_KEY / 길이 5"
                          },
                          "nextbutton": {
                            "type": "string",
                            "description": "NEXTBUTTON / 길이 1"
                          }
                        }
[...]
