{
  "openapi": "3.0.3",
  "info": {
    "title": "NH투자증권 Open API — 해외파생 (Global Derivatives)",
    "version": "v1",
    "description": "NH투자증권 Open API 중 **해외파생 (Global Derivatives)** 자산군의 REST 및 실시간(WebSocket) API 문서입니다. (기준: API명세서 260703 / 나무 환경)\n\n- REST: POST + JSON, 요청 Input_0 / 응답 Output_0(배열) + message.\n- 실시간: WebSocket. 구독 규약은 x-realtime-channels.protocol 참조.\n- 인증: POST /oauth2/token → REST 는 Authorization/x-client-id/x-client-secret, WS 는 메시지 header.token."
  },
  "servers": [
    {
      "url": "https://api.nhplug.com:8443",
      "description": "운영 · 나무 (실거래)"
    },
    {
      "url": "https://moapi.nhplug.com:8443",
      "description": "운영 모의투자 · 나무"
    },
    {
      "url": "https://devapi.nhplug.com:8443",
      "description": "개발 · 나무 (실거래)"
    },
    {
      "url": "https://devmoapi.nhplug.com:8443",
      "description": "개발 모의투자 · 나무"
    }
  ],
  "security": [
    {
      "BearerAuth": [],
      "ClientId": [],
      "ClientSecret": []
    }
  ],
  "x-environments": {
    "portal": {
      "나무": "https://www.nhplug.com"
    },
    "rest": {
      "운영_나무": "https://api.nhplug.com:8443",
      "운영모의_나무": "https://moapi.nhplug.com:8443",
      "개발_나무": "https://devapi.nhplug.com:8443",
      "개발모의_나무": "https://devmoapi.nhplug.com:8443"
    },
    "websocket": {
      "운영_나무": "wss://api.nhplug.com:7080",
      "운영모의_나무": "wss://moapi.nhplug.com:17070",
      "개발_나무": "wss://devapi.nhplug.com:7080",
      "개발모의_나무": "wss://devmoapi.nhplug.com:17070"
    },
    "note": "나무(Namuh) 환경 기준. N2 는 추후. WS 포트: 국내 7070 / 해외 7080, 모의 17070."
  },
  "tags": [
    {
      "name": "주문 (Order)"
    },
    {
      "name": "조회 (Inquiry)"
    },
    {
      "name": "시세 (Market Data)"
    },
    {
      "name": "실시간 (Realtime)"
    }
  ],
  "paths": {
    "/gbfuture/order/v1/buy": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "gbfutureOrderBuy",
        "summary": "해외선물옵션 주문",
        "description": "\n\n원본 시트: API_해외_파생_주문_매수매도",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "sll_byn_tp_cd": {
                        "type": "string",
                        "description": "매도매수유형코드 / 길이 1 / 1.매도 2.매수"
                      },
                      "ose_iem_cd": {
                        "type": "string",
                        "description": "해외종목코드 / 길이 32"
                      },
                      "orr_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문수량 / 길이 18"
                      },
                      "fdv_orr_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "해외파생주문가격 / 길이 24.9"
                      },
                      "fdv_stop_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "해외파생STOP가격 / 길이 24.9"
                      },
                      "fdv_orr_dit_cd": {
                        "type": "string",
                        "description": "해외파생주문구분코드 / 길이 1 / 0.DAY 2.GTD"
                      },
                      "fdv_orr_tp_cd": {
                        "type": "string",
                        "description": "해외파생주문유형코드 / 길이 1 / 1.시장가 2.지정가 3.스탑마켓 4.스탑리밋"
                      },
                      "end_dt": {
                        "type": "string",
                        "description": "종료일자 / 길이 8 / YYYYMMDD"
                      }
                    },
                    "required": [
                      "act_no",
                      "sll_byn_tp_cd",
                      "ose_iem_cd",
                      "orr_qty",
                      "fdv_orr_dit_cd",
                      "fdv_orr_tp_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fdv_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "해외파생주문번호 / 길이 18"
                          },
                          "fdv_orr_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생주문가격 / 길이 24.9"
                          },
                          "err_msg_cd": {
                            "type": "string",
                            "description": "오류메시지코드 / 길이 5"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/gbfuture/order/v1/modify": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "gbfutureOrderModify",
        "summary": "해외선물옵션 정정취소주문정정",
        "description": "\n\n원본 시트: API_해외_파생_주문_정정",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "ose_iem_cd": {
                        "type": "string",
                        "description": "해외종목코드 / 길이 32"
                      },
                      "fdv_fr_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "해외파생원주문번호 / 길이 18"
                      },
                      "fdv_orr_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "해외파생주문가격 / 길이 24.9"
                      },
                      "fdv_stop_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "해외파생STOP가격 / 길이 24.9"
                      },
                      "fdv_orr_tp_cd": {
                        "type": "string",
                        "description": "해외파생주문유형코드 / 길이 1 / 1.시장가 2.지정가 3.스탑마켓 4.스탑리밋"
                      }
                    },
                    "required": [
                      "act_no",
                      "ose_iem_cd",
                      "fdv_fr_orr_no",
                      "fdv_orr_tp_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fdv_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "해외파생주문번호 / 길이 18"
                          },
                          "fdv_orr_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생주문가격 / 길이 24.9"
                          },
                          "err_msg_cd": {
                            "type": "string",
                            "description": "오류메시지코드 / 길이 5"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/gbfuture/order/v1/cancel": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "gbfutureOrderCancel",
        "summary": "해외선물옵션 정정취소주문취소",
        "description": "\n\n원본 시트: API_해외_파생_주문_취소",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "fdv_fr_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "해외파생원주문번호 / 길이 18"
                      },
                      "ose_iem_cd": {
                        "type": "string",
                        "description": "해외종목코드 / 길이 32"
                      },
                      "fdv_orr_tp_cd": {
                        "type": "string",
                        "description": "해외파생주문유형코드 / 길이 1 / 1.시장가 2.지정가 3.스탑마켓 4.스탑리밋"
                      }
                    },
                    "required": [
                      "act_no",
                      "fdv_fr_orr_no",
                      "ose_iem_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fdv_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "해외파생주문번호 / 길이 18"
                          },
                          "err_msg_cd": {
                            "type": "string",
                            "description": "오류메시지코드 / 길이 5"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/gbfuture/inquiry/v1/todayOrderHistory": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "gbfutureInquiryTodayOrderHistory",
        "summary": "해외선물옵션 당일주문내역조회",
        "description": "\n\n원본 시트: API_해외_파생_조회_주문내역",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "sta_dt": {
                        "type": "string",
                        "description": "시작일자 / 길이 8 / YYYYMMDD"
                      },
                      "end_dt": {
                        "type": "string",
                        "description": "종료일자 / 길이 8 / YYYYMMDD"
                      },
                      "ose_iem_cd": {
                        "type": "string",
                        "description": "해외종목코드 / 길이 32"
                      },
                      "cns_dit_cd": {
                        "type": "string",
                        "description": "체결구분코드_IO / 길이 1 / 0.전체 1.체결 2.미체결"
                      },
                      "fdv_fno_dit_cd": {
                        "type": "string",
                        "description": "해외파생선물옵션구분코드 / 길이 1 / A.전체 F.선물 O.옵션 S.주식옵션"
                      },
                      "sll_byn_tp_cd": {
                        "type": "string",
                        "description": "매도매수유형코드 / 길이 1 / 0.전체 1.매도 2.매수"
                      },
                      "cur_cd": {
                        "type": "string",
                        "description": "통화코드 / 길이 3 / USD.달러 KRW.원화"
                      },
                      "fdv_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "해외파생주문번호 / 길이 18"
                      },
                      "iqr_bse": {
                        "type": "string",
                        "description": "조회기준_IO / 길이 1 / 1.주문기준 2.체결기준"
                      },
                      "sot_dit": {
                        "type": "string",
                        "description": "정렬구분_IO / 길이 1 / 1.주문번호순 2.역순"
                      },
                      "fdv_excg_cd": {
                        "type": "string",
                        "description": "해외파생거래소코드 / 길이 10 / .전체조회 CBOE.Chicago Board Options Exchange CME.Chicago Mercantile Exchange HKEX.Hong Kong Exchanges OPRA.OPRA"
                      },
                      "CTS": {
                        "type": "string",
                        "description": "CTS / 길이 100 / 다음 데이터 조회를 위한 값. 이전 CTS값과 동일한 값이거나 공백일 경우 마지막 데이터"
                      }
                    },
                    "required": [
                      "act_no"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orr_dt": {
                            "type": "string",
                            "description": "주문일자 / 길이 8 / YYYYMMDD"
                          },
                          "fdv_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "해외파생주문번호 / 길이 18"
                          },
                          "fdv_fr_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "해외파생원주문번호 / 길이 18"
                          },
                          "fdv_mo_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "해외파생모주문번호 / 길이 18"
                          },
                          "act_no": {
                            "type": "string",
                            "description": "계좌번호 / 길이 11"
                          },
                          "act_nm": {
                            "type": "string",
                            "description": "계좌명 / 길이 60"
                          },
                          "fdv_cns_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "해외파생체결번호 / 길이 18"
                          },
                          "fdv_pdt_cd": {
                            "type": "string",
                            "description": "해외파생상품코드 / 길이 10"
                          },
                          "ose_iem_cd": {
                            "type": "string",
                            "description": "해외종목코드 / 길이 32"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 60"
                          },
                          "cur_cd": {
                            "type": "string",
                            "description": "통화코드 / 길이 3"
                          },
                          "sll_byn_tp_cd": {
                            "type": "string",
                            "description": "매도매수유형코드 / 길이 1 / 1.매도 2.매수"
                          },
                          "sll_byn_tp_nm": {
                            "type": "string",
                            "description": "매도매수유형명 / 길이 50"
                          },
                          "fdv_orr_tp_cd": {
                            "type": "string",
                            "description": "해외파생주문유형코드 / 길이 1 / 1.시장가 2.지정가 3.스탑마켓 4.스탑리밋 5.MOC"
                          },
                          "fdv_orr_tp_cd_nm": {
                            "type": "string",
                            "description": "해외파생주문유형코드명_IO / 길이 20"
                          },
                          "fdv_orr_dit_cd": {
                            "type": "string",
                            "description": "해외파생주문구분코드 / 길이 1 / 0:DAY, 1:GTC, 2:GTD"
                          },
                          "fdv_orr_dit_cd_nm": {
                            "type": "string",
                            "description": "해외파생주문구분코드명_IO / 길이 20"
                          },
                          "nmn_pr_sts_dit_cd": {
                            "type": "string",
                            "description": "호가상태구분코드 / 길이 1 / 1:신규, 2:정정, 3:취소"
                          },
                          "nmn_pr_sts_dit_cd_nm": {
                            "type": "string",
                            "description": "호가상태구분코드명 / 길이 20"
                          },
                          "fdv_orr_pcs_sts_cd": {
                            "type": "string",
                            "description": "해외파생주문처리상태코드 / 길이 1 / 0.접수전 1.정상접수 2.접수거부 3.처리완료"
                          },
                          "fdv_orr_pcs_sts_cd_nm": {
                            "type": "string",
                            "description": "해외파생주문처리상태코드명_IO / 길이 20"
                          },
                          "trd_orn_dit_cd": {
                            "type": "string",
                            "description": "거래발생구분코드 / 길이 2 / 00.일반 01.관리자주문 11.장중반대매매 12.추가증거금반대매매 13.FND반대매매 21.머니매니지먼트주문(취소및청산) 31.포지션이관 32.포지션수관 40.타임슬라이스 41.옵션조기행사 42.옵션조기배정 43.옵션만기행사 44.옵션만기배정 45.옵션소멸 46.선물만기 47.실물인수도 48.선물인수도 49.선물만기네팅 51.착오매매 61.주식옵션권리입고 62.주식옵션권리출고"
                          },
                          "trd_orn_dit_cd_nm": {
                            "type": "string",
                            "description": "거래발생구분코드명 / 길이 40"
                          },
                          "fdv_pr_idc_dit_cd": {
                            "type": "string",
                            "description": "해외파생가격표시구분코드 / 길이 1"
                          },
                          "fdv_orr_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생주문가격 / 길이 24.9"
                          },
                          "fdv_orr_pr_idc_cts": {
                            "type": "string",
                            "description": "해외파생주문가격표시내용 / 길이 30"
                          },
                          "fdv_stop_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생STOP가격 / 길이 24.9"
                          },
                          "fdv_stop_pr_idc_cts": {
                            "type": "string",
                            "description": "해외파생STOP가격표시내용 / 길이 30"
                          },
                          "fdv_cns_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생체결가격 / 길이 24.9"
                          },
                          "fdv_cns_pr_idc_cts": {
                            "type": "string",
                            "description": "해외파생체결가격표시내용 / 길이 30"
                          },
                          "orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문수량 / 길이 18"
                          },
                          "fdv_orr_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생주문금액 / 길이 24.9"
                          },
                          "cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "체결수량 / 길이 18"
                          },
                          "fdv_cns_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생체결금액 / 길이 21.3"
                          },
                          "acl_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "누적체결수량 / 길이 18"
                          },
                          "fdv_cor_can_orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "해외파생정정취소주문수량 / 길이 18"
                          },
                          "can_cfm_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "취소확인수량 / 길이 18"
                          },
                          "rmn_orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "잔여주문수량 / 길이 18"
                          },
                          "orr_vdt_dt": {
                            "type": "string",
                            "description": "주문유효일자 / 길이 8 / YYYYMMDD"
                          },
                          "xrn_dt": {
                            "type": "string",
                            "description": "만기일자 / 길이 8 / YYYYMMDD"
                          },
                          "org_orr_dt": {
                            "type": "string",
                            "description": "원주문일자 / 길이 8 / YYYYMMDD"
                          },
                          "orr_pbl_yn": {
                            "type": "string",
                            "description": "주문가능여부 / 길이 1"
                          },
                          "opt_sby_cst": {
                            "type": "number",
                            "format": "double",
                            "description": "옵션매매대금 / 길이 21.3"
                          },
                          "fdv_brg_fee": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생위탁수수료 / 길이 21.3"
                          },
                          "fdv_fcm_fee": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생FCM수수료 / 길이 21.3"
                          },
                          "fdv_tco_fee": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생당사수수료 / 길이 21.3"
                          },
                          "fcm_cd": {
                            "type": "string",
                            "description": "FCM코드 / 길이 10"
                          },
                          "fdv_pcs_sts_cd": {
                            "type": "string",
                            "description": "해외파생처리상태코드 / 길이 1 / 0.정상 1.취소(오류)"
                          },
                          "fdv_pcs_sts_cd_nm": {
                            "type": "string",
                            "description": "해외파생처리상태코드명_IO / 길이 20"
                          },
                          "apm_lqd_dit_cd": {
                            "type": "string",
                            "description": "지정청산구분코드 / 길이 1 / 0.미해당 1.가격지정"
                          },
                          "apm_lqd_dit_cd_nm": {
                            "type": "string",
                            "description": "지정청산구분코드명 / 길이 20"
                          },
                          "apm_lqd_cns_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "지정청산체결가격 / 길이 24.9"
                          },
                          "apm_lqd_cns_pr_idc_cts": {
                            "type": "string",
                            "description": "지정청산체결가격표시내용 / 길이 30"
                          },
                          "twap_orr_sts_cd": {
                            "type": "string",
                            "description": "TWAP주문상태코드 / 길이 1 / 0.정상 1.종료"
                          },
                          "twap_orr_sts_cd_nm": {
                            "type": "string",
                            "description": "TWAP주문상태코드명 / 길이 20"
                          },
                          "twap_cns_dit_cd": {
                            "type": "string",
                            "description": "TWAP체결구분코드 / 길이 1"
                          },
                          "twap_sta_dt": {
                            "type": "string",
                            "description": "TWAP시작일자 / 길이 8 / YYYYMMDD"
                          },
                          "twap_sta_hur": {
                            "type": "string",
                            "description": "TWAP시작시간 / 길이 9"
                          },
                          "twap_end_dt": {
                            "type": "string",
                            "description": "TWAP종료일자 / 길이 8"
                          },
                          "twap_end_hur": {
                            "type": "string",
                            "description": "TWAP종료시간 / 길이 9"
                          },
                          "twap_cns_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "TWAP체결비율 / 길이 24.9"
                          },
                          "rjt_msg_cts": {
                            "type": "string",
                            "description": "거부메시지내용 / 길이 200"
                          },
                          "rks": {
                            "type": "string",
                            "description": "비고 / 길이 100"
                          },
                          "orr_dtm": {
                            "type": "string",
                            "description": "주문일시_IO / 길이 20"
                          },
                          "cns_dtm": {
                            "type": "string",
                            "description": "체결일시_IO / 길이 20"
                          },
                          "fdv_excg_cd": {
                            "type": "string",
                            "description": "해외파생거래소코드 / 길이 10 / CBOE.Chicago Board Options Exchange CME.Chicago Mercantile Exchange ECBOT.Chicago Board of Trade EUREX.Eurex Exchange HKEX.Hong Kong Exchanges ICE EU.Inter Continental Exchange ICE US.Inter Continental Exchange LME.London Metal Exchange MSE.Montreal Exchange OPRA.OPRA OSE.Osaka Exchange SGX.Singapore Exchange"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/gbfuture/TODO/op": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "gbfutureTODOOp",
        "summary": "해외선물옵션 미체결내역조회(잔고)",
        "description": "\n\n원본 시트: API_해외_파생_조회_미체결내역",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "ose_iem_cd": {
                        "type": "string",
                        "description": "해외종목코드 / 길이 32"
                      },
                      "fdv_fno_dit_cd": {
                        "type": "string",
                        "description": "해외파생선물옵션구분코드 / 길이 1"
                      },
                      "sll_byn_tp_cd": {
                        "type": "string",
                        "description": "매도매수유형코드 / 길이 1"
                      },
                      "cur_cd": {
                        "type": "string",
                        "description": "통화코드 / 길이 3"
                      },
                      "iqr_bse": {
                        "type": "string",
                        "description": "조회기준_IO / 길이 1"
                      },
                      "fdv_excg_cd": {
                        "type": "string",
                        "description": "해외파생거래소코드 / 길이 10"
                      },
                      "CTS": {
                        "type": "string",
                        "description": "CTS / 길이 100 / 다음 데이터 조회를 위한 값. 이전 CTS값과 동일한 값이거나 공백일 경우 마지막 데이터"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "act_no": {
                            "type": "string",
                            "description": "계좌번호 / 길이 11"
                          },
                          "act_nm": {
                            "type": "string",
                            "description": "계좌명 / 길이 60"
                          },
                          "cns_dt": {
                            "type": "string",
                            "description": "체결일자 / 길이 8"
                          },
                          "ose_iem_cd": {
                            "type": "string",
                            "description": "해외종목코드 / 길이 32"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 60"
                          },
                          "cur_cd": {
                            "type": "string",
                            "description": "통화코드 / 길이 3"
                          },
                          "sll_byn_tp_cd": {
                            "type": "string",
                            "description": "매도매수유형코드 / 길이 1"
                          },
                          "sll_byn_tp_nm": {
                            "type": "string",
                            "description": "매도매수유형명 / 길이 50"
                          },
                          "fdv_pr_idc_dit_cd": {
                            "type": "string",
                            "description": "해외파생가격표시구분코드 / 길이 1"
                          },
                          "hld_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "보유수량 / 길이 18"
                          },
                          "fdv_lqd_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "해외파생청산가능수량 / 길이 18"
                          },
                          "fdv_avg_bnc_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생평균잔고가격 / 길이 24.9"
                          },
                          "fdv_avg_bnc_pr_idc_cts": {
                            "type": "string",
                            "description": "해외파생평균잔고가격표시내용 / 길이 30"
                          },
                          "fdv_now_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생현재가격 / 길이 24.9"
                          },
                          "fdv_now_pr_idc_cts": {
                            "type": "string",
                            "description": "해외파생현재가격표시내용 / 길이 30"
                          },
                          "fdv_frs_eal_pls": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생선물평가손익 / 길이 21.3"
                          },
                          "fdv_opt_eal_pls": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생옵션평가손익 / 길이 21.3"
                          },
                          "fdv_opt_eal_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생옵션평가금액 / 길이 21.3"
                          },
                          "xrn_dt": {
                            "type": "string",
                            "description": "만기일자 / 길이 8"
                          },
                          "svl_dd_cnt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "잔존일수 / 길이 10"
                          },
                          "mud_xes_yn": {
                            "type": "string",
                            "description": "만기일초과여부 / 길이 1"
                          },
                          "fdv_nmn_pr_uit_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생호가단위가격 / 길이 24.9"
                          },
                          "fdv_nmn_pr_unt_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생호가단위금액 / 길이 24.9"
                          },
                          "fdv_pr_rgt_cef": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생가격조정계수 / 길이 24.9"
                          },
                          "fdv_excg_cd": {
                            "type": "string",
                            "description": "해외파생거래소코드 / 길이 10"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/gbfuture/inquiry/v1/orderable": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "gbfutureInquiryOrderable",
        "summary": "해외선물옵션 주문가능조회",
        "description": "\n\n원본 시트: API_해외_파생_조회_주문가능",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "sll_byn_tp_cd": {
                        "type": "string",
                        "description": "매도매수유형코드 / 길이 1 / 1.매도 2.매수"
                      },
                      "ose_iem_cd": {
                        "type": "string",
                        "description": "해외종목코드 / 길이 32"
                      },
                      "fdv_orr_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "해외파생주문가격 / 길이 24.9"
                      },
                      "fdv_stop_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "해외파생STOP가격 / 길이 24.9"
                      },
                      "fdv_orr_tp_cd": {
                        "type": "string",
                        "description": "해외파생주문유형코드 / 길이 1 / 1.시장가 2.지정가 3.스탑마켓 4.스탑리밋"
                      },
                      "opt_byn_erc_bkg_yn": {
                        "type": "string",
                        "description": "옵션매수행사예약여부 / 길이 1"
                      },
                      "bnc_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "잔고가격 / 길이 24.9"
                      }
                    },
                    "required": [
                      "act_no",
                      "sll_byn_tp_cd",
                      "ose_iem_cd",
                      "fdv_orr_tp_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fdv_orr_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "해외파생주문가능수량 / 길이 18"
                          },
                          "fdv_orr_pbl_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생주문가능금액 / 길이 21.3"
                          },
                          "orr_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능수량_IO / 길이 10"
                          },
                          "lqd_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "청산가능수량_IO / 길이 15"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/gbfuture/inquiry/v1/pnl": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "gbfutureInquiryPnl",
        "summary": "해외선물옵션 기간계좌손익 일별",
        "description": "\n\n원본 시트: API_해외_파생_조회_손익",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "iqr_dit_cd": {
                        "type": "string",
                        "description": "조회구분코드_IO / 길이 2 / 10.종목별 20.상품별"
                      },
                      "sta_dt": {
                        "type": "string",
                        "description": "시작일자 / 길이 8 / YYYYMMDD"
                      },
                      "end_dt": {
                        "type": "string",
                        "description": "종료일자 / 길이 8 / YYYYMMDD"
                      },
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "fdv_pdt_cd": {
                        "type": "string",
                        "description": "해외파생상품코드 / 길이 10"
                      },
                      "ose_iem_cd": {
                        "type": "string",
                        "description": "해외종목코드 / 길이 32"
                      },
                      "cur_cd": {
                        "type": "string",
                        "description": "통화코드 / 길이 3 / USD.달러 KRW.원화"
                      },
                      "fdv_fno_dit_cd": {
                        "type": "string",
                        "description": "해외파생선물옵션구분코드 / 길이 1 / A.전체 F.선물 O.옵션 S.주식옵션"
                      },
                      "sum_iqr_yn": {
                        "type": "string",
                        "description": "합계조회여부_IO / 길이 1"
                      },
                      "fdv_excg_cd": {
                        "type": "string",
                        "description": "해외파생거래소코드 / 길이 10 / .전체조회 CBOE.Chicago Board Options Exchange CME.Chicago Mercantile Exchange HKEX.Hong Kong Exchanges OPRA.OPRA"
                      },
                      "CTS": {
                        "type": "string",
                        "description": "CTS / 길이 100 / 다음 데이터 조회를 위한 값. 이전 CTS값과 동일한 값이거나 공백일 경우 마지막 데이터"
                      }
                    },
                    "required": [
                      "iqr_dit_cd",
                      "sta_dt",
                      "end_dt"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fdv_lqd_pls": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생청산손익 / 길이 21.3"
                          },
                          "fdv_eal_ind_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생평가증감금액 / 길이 21.3"
                          },
                          "fdv_fee": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생수수료 / 길이 21.3"
                          },
                          "fdv_tot_pls": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생총손익 / 길이 21.3"
                          },
                          "fdv_pdt_cd": {
                            "type": "string",
                            "description": "해외파생상품코드 / 길이 10"
                          },
                          "pdt_nm": {
                            "type": "string",
                            "description": "상품명 / 길이 50"
                          },
                          "ose_iem_cd": {
                            "type": "string",
                            "description": "해외종목코드 / 길이 32"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 60"
                          },
                          "cur_cd": {
                            "type": "string",
                            "description": "통화코드 / 길이 3"
                          },
                          "fdv_tot_pls_krw_tsl_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생총손익원화환산금액 / 길이 21.3"
                          },
                          "bse_xcg_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "기준환율 / 길이 12.6"
                          },
                          "fdv_excg_cd": {
                            "type": "string",
                            "description": "해외파생거래소코드 / 길이 10 / CBOE.Chicago Board Options Exchange CME.Chicago Mercantile Exchange ECBOT.Chicago Board of Trade EUREX.Eurex Exchange HKEX.Hong Kong Exchanges ICE EU.Inter Continental Exchange ICE US.Inter Continental Exchange LME.London Metal Exchange MSE.Montreal Exchange OPRA.OPRA OSE.Osaka Exchange SGX.Singapore Exchange"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/gbfuture/inquiry/v1/deposit": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "gbfutureInquiryDeposit",
        "summary": "해외선물옵션 예수금현황",
        "description": "\n\n원본 시트: API_해외_파생_조회_예수금",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "cur_cd": {
                        "type": "string",
                        "description": "통화코드 / 길이 3 / USD.달러 TKR.원화환산"
                      },
                      "sls_dt": {
                        "type": "string",
                        "description": "영업일자 / 길이 8 / YYYYMMDD"
                      }
                    },
                    "required": [
                      "act_no",
                      "cur_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cur_cd": {
                            "type": "string",
                            "description": "통화코드 / 길이 3"
                          },
                          "fdv_dsg_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생예탁금액 / 길이 21.3"
                          },
                          "fdv_stl_xpn_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생결제예정금액 / 길이 21.3"
                          },
                          "fdv_lqd_pls": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생청산손익 / 길이 21.3"
                          },
                          "fdv_opt_sby_cst": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생옵션매매대금 / 길이 21.3"
                          },
                          "fdv_fee": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생수수료 / 길이 21.3"
                          },
                          "nxt_dd_dga_rnd": {
                            "type": "number",
                            "format": "double",
                            "description": "익일예탁금잔액 / 길이 21.3"
                          },
                          "frs_ny_stl_eal_pls": {
                            "type": "number",
                            "format": "double",
                            "description": "선물미결제평가손익 / 길이 21.3"
                          },
                          "fdv_fopt_eal_pls_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생선물형옵션평가손익금액 / 길이 21.3"
                          },
                          "fdv_byn_opt_eal_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생매수옵션평가금액 / 길이 21.3"
                          },
                          "fdv_sll_opt_eal_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생매도옵션평가금액 / 길이 21.3"
                          },
                          "fdv_dsg_aet_tot_eal_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생예탁자산총평가금액 / 길이 21.3"
                          },
                          "fdv_brg_wtm": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생위탁증거금 / 길이 21.3"
                          },
                          "fdv_mnc_wtm": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생유지증거금 / 길이 21.3"
                          },
                          "fdv_apd_wtm": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생추가증거금 / 길이 21.3"
                          },
                          "fdv_orr_pbl_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생주문가능금액 / 길이 21.3"
                          },
                          "fdv_wrw_pbl_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생인출가능금액 / 길이 21.3"
                          },
                          "sby_bse_xcg_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "매매기준환율 / 길이 12.6"
                          },
                          "krw_sba_fc_eal_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "원화대용외화평가금액 / 길이 21.3"
                          },
                          "fdv_xny_xpn_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생환전예정금액 / 길이 21.3"
                          },
                          "fdv_rvb_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생미수금액 / 길이 21.3"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/gbfuture/inquiry/v1/margin": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "gbfutureInquiryMargin",
        "summary": "해외선물옵션 증거금상세",
        "description": "\n\n원본 시트: API_해외_파생_조회_증거금",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "sls_dt": {
                        "type": "string",
                        "description": "영업일자 / 길이 8"
                      },
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "cur_cd": {
                        "type": "string",
                        "description": "통화코드 / 길이 3 / USD.달러 KRW.원화"
                      },
                      "CTS": {
                        "type": "string",
                        "description": "CTS / 길이 32 / 다음 데이터 조회를 위한 값. 이전 CTS값과 동일한 값이거나 공백일 경우 마지막 데이터"
                      }
                    },
                    "required": [
                      "sls_dt",
                      "act_no",
                      "cur_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fdv_hge_dit_cd": {
                            "type": "string",
                            "description": "해외파생헤지구분코드 / 길이 1 / 0.일반 1.헤지"
                          },
                          "fdv_brg_wtm": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생위탁증거금 / 길이 21.3"
                          },
                          "fdv_ny_stl_wtm": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생미결제증거금 / 길이 21.3"
                          },
                          "fdv_orr_wtm": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생주문증거금 / 길이 21.3"
                          },
                          "cur_cd": {
                            "type": "string",
                            "description": "통화코드 / 길이 3"
                          },
                          "ose_iem_cd": {
                            "type": "string",
                            "description": "해외종목코드 / 길이 32"
                          },
                          "fdv_byn_ny_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "해외파생매수미체결수량 / 길이 18"
                          },
                          "fdv_sll_ny_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "해외파생매도미체결수량 / 길이 18"
                          },
                          "ny_cns_orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "미체결주문수량 / 길이 18"
                          },
                          "byn_ny_stl_bnc_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수미결제잔고수량 / 길이 18"
                          },
                          "sll_ny_stl_bnc_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도미결제잔고수량 / 길이 18"
                          },
                          "ny_stl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "미결제수량 / 길이 18"
                          },
                          "opt_byn_orr_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "옵션매수주문금액 / 길이 21.3"
                          },
                          "fdv_edn_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "해외파생증거금액 / 길이 21.3"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/gbfuture/quote/v1/current": {
      "post": {
        "tags": [
          "시세 (Market Data)"
        ],
        "operationId": "gbfutureQuoteCurrent",
        "summary": "해외선물종목현재가",
        "description": "\n\n원본 시트: API_해외_파생_시세_현재가",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "exnm": {
                        "type": "string",
                        "description": "거래소코드 / 길이 8 / FCME.CME지수선물 OOPR.OPRA주식옵션 OCME.CME지수옵션 FHKE.HKEX선물 OHKE.HKEX옵션"
                      },
                      "isym": {
                        "type": "string",
                        "description": "내부종목코드 / 길이 32"
                      }
                    },
                    "required": [
                      "exnm",
                      "isym"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "exnm": {
                            "type": "string",
                            "description": "거래소코드 / 길이 8"
                          },
                          "symb": {
                            "type": "string",
                            "description": "종목코드 / 길이 32"
                          },
                          "isym": {
                            "type": "string",
                            "description": "내부종목코드 / 길이 32"
                          },
                          "inrt": {
                            "type": "string",
                            "description": "실시간종목코드 / 길이 32"
                          },
                          "enam": {
                            "type": "string",
                            "description": "영문종목명 / 길이 80"
                          },
                          "snam_notuse": {
                            "type": "string",
                            "description": "축약종목명 / 길이 80"
                          },
                          "knam": {
                            "type": "string",
                            "description": "한글종목명 / 길이 80"
                          },
                          "pind": {
                            "type": "string",
                            "description": "가격표시 / 길이 1"
                          },
                          "last": {
                            "type": "number",
                            "format": "double",
                            "description": "체결가격 / 길이 17"
                          },
                          "diff": {
                            "type": "number",
                            "format": "double",
                            "description": "전일대비 / 길이 17"
                          },
                          "sign": {
                            "type": "string",
                            "description": "전일대비구분 / 길이 1"
                          },
                          "rate": {
                            "type": "number",
                            "format": "double",
                            "description": "전일대비등락율 / 길이 17"
                          },
                          "open": {
                            "type": "number",
                            "format": "double",
                            "description": "시가 / 길이 17"
                          },
                          "high": {
                            "type": "number",
                            "format": "double",
                            "description": "고가 / 길이 17"
                          },
                          "low": {
                            "type": "number",
                            "format": "double",
                            "description": "저가 / 길이 17"
                          },
                          "ropen": {
                            "type": "number",
                            "format": "double",
                            "description": "시가대비등락율 / 길이 17"
                          },
                          "rhigh": {
                            "type": "number",
                            "format": "double",
                            "description": "고가대비등락율 / 길이 17"
                          },
                          "rlow": {
                            "type": "number",
                            "format": "double",
                            "description": "저가대비등락율 / 길이 17"
                          },
                          "pbid": {
                            "type": "number",
                            "format": "double",
                            "description": "최우선매수호가 / 길이 17"
                          },
                          "pask": {
                            "type": "number",
                            "format": "double",
                            "description": "최우선매도호가 / 길이 17"
                          },
                          "bvol": {
                            "type": "number",
                            "format": "double",
                            "description": "매수체결수량합계 / 길이 17"
                          },
                          "svol": {
                            "type": "number",
                            "format": "double",
                            "description": "매도체결수량합계 / 길이 17"
                          },
                          "tvol": {
                            "type": "number",
                            "format": "double",
                            "description": "누적체결수량 / 길이 17"
                          },
                          "setp": {
                            "type": "number",
                            "format": "double",
                            "description": "정산가격 / 길이 17"
                          },
                          "sday": {
                            "type": "string",
                            "description": "정산일자 / 길이 8"
                          },
                          "bday": {
                            "type": "string",
                            "description": "기준일자 / 길이 8"
                          },
                          "tdtm": {
                            "type": "string",
                            "description": "거래시간 / 길이 6"
                          },
                          "hipr_notuse": {
                            "type": "number",
                            "format": "double",
                            "description": "최고가 / 길이 17"
                          },
                          "hidy_notuse": {
                            "type": "string",
                            "description": "최고가일 / 길이 8"
                          },
                          "lopr_notuse": {
                            "type": "number",
                            "format": "double",
                            "description": "최저가 / 길이 17"
                          },
                          "lody_notuse": {
                            "type": "string",
                            "description": "최저가일 / 길이 8"
                          },
                          "pcls": {
                            "type": "number",
                            "format": "double",
                            "description": "전일종가 / 길이 17"
                          },
                          "cur1": {
                            "type": "string",
                            "description": "거래통화 / 길이 3"
                          },
                          "exch": {
                            "type": "string",
                            "description": "거래소명 / 길이 8"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/gbfuture/quote/v1/symbolDetail": {
      "post": {
        "tags": [
          "시세 (Market Data)"
        ],
        "operationId": "gbfutureQuoteSymbolDetail",
        "summary": "해외선물종목상세",
        "description": "\n\n원본 시트: API_해외_파생_시세_종목상세",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "exnm": {
                        "type": "string",
                        "description": "거래소코드 / 길이 8 / FCME.CME지수선물 OOPR.OPRA주식옵션 OCME.CME지수옵션 FHKE.HKEX선물 OHKE.HKEX옵션"
                      },
                      "isym": {
                        "type": "string",
                        "description": "내부종목코드 / 길이 32"
                      }
                    },
                    "required": [
                      "exnm",
                      "isym"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symb": {
                            "type": "string",
                            "description": "종목코드 / 길이 32"
                          },
                          "isym": {
                            "type": "string",
                            "description": "내부종목코드 / 길이 32"
                          },
                          "seqn": {
                            "type": "integer",
                            "format": "int32",
                            "description": "순번 / 길이 10"
                          },
                          "inrt": {
                            "type": "string",
                            "description": "내부루트종목코드 / 길이 32"
                          },
                          "root": {
                            "type": "string",
                            "description": "루트종목코드 / 길이 32"
                          },
                          "gsym_notuse": {
                            "type": "string",
                            "description": "그룹코드 / 길이 32"
                          },
                          "clrs_notuse": {
                            "type": "string",
                            "description": "청산코드 / 길이 32"
                          },
                          "csym": {
                            "type": "string",
                            "description": "원장종목코드 / 길이 12"
                          },
                          "cfic_notuse": {
                            "type": "string",
                            "description": "CFI코드 / 길이 7"
                          },
                          "enam": {
                            "type": "string",
                            "description": "영문종목명 / 길이 80"
                          },
                          "snam_notuse": {
                            "type": "string",
                            "description": "축약종목명 / 길이 80"
                          },
                          "knam": {
                            "type": "string",
                            "description": "한글종목명 / 길이 80"
                          },
                          "ecym": {
                            "type": "string",
                            "description": "영문약정년월 / 길이 8"
                          },
                          "kcym": {
                            "type": "string",
                            "description": "한글약정년월 / 길이 8"
                          },
                          "exid": {
                            "type": "string",
                            "description": "거래소ID / 길이 3"
                          },
                          "exnm": {
                            "type": "string",
                            "description": "거래소코드 / 길이 8"
                          },
                          "stat_notuse": {
                            "type": "string",
                            "description": "거래상태 / 길이 1"
                          },
                          "trdf": {
                            "type": "string",
                            "description": "거래가능여부 / 길이 1"
                          },
                          "unpd": {
                            "type": "string",
                            "description": "기초자산상품그룹코드 / 길이 2"
                          },
                          "unps": {
                            "type": "string",
                            "description": "기초자산코드 / 길이 32"
                          },
                          "pmul": {
                            "type": "number",
                            "format": "double",
                            "description": "가격환산승수 / 길이 17"
                          },
                          "xdiv": {
                            "type": "integer",
                            "format": "int32",
                            "description": "분모 / 길이 10"
                          },
                          "ydiv": {
                            "type": "integer",
                            "format": "int32",
                            "description": "분자 / 길이 10"
                          },
                          "zdiv": {
                            "type": "integer",
                            "format": "int32",
                            "description": "소수점자릿수 / 길이 10"
                          },
                          "pind": {
                            "type": "string",
                            "description": "가격표시자 / 길이 1"
                          },
                          "aval": {
                            "type": "integer",
                            "format": "int32",
                            "description": "가격조정계수 / 길이 10"
                          },
                          "sect": {
                            "type": "string",
                            "description": "상품그룹코드 / 길이 2"
                          },
                          "styp": {
                            "type": "string",
                            "description": "선물옵션구분 / 길이 1"
                          },
                          "cur1": {
                            "type": "string",
                            "description": "거래통화 / 길이 3"
                          },
                          "cur2": {
                            "type": "string",
                            "description": "청산통화 / 길이 3"
                          },
                          "cur3": {
                            "type": "string",
                            "description": "행사통화 / 길이 3"
                          },
                          "exym": {
                            "type": "string",
                            "description": "만기년월 / 길이 8"
                          },
                          "lymd": {
                            "type": "string",
                            "description": "최초거래일 / 길이 8"
                          },
                          "zymd": {
                            "type": "string",
                            "description": "최종거래일 / 길이 8"
                          },
                          "jjis": {
                            "type": "integer",
                            "format": "int32",
                            "description": "거래일수 / 길이 10"
                          },
                          "minv_notuse": {
                            "type": "integer",
                            "format": "int32",
                            "description": "최소거래량 / 길이 10"
                          },
                          "maxv_notuse": {
                            "type": "integer",
                            "format": "int32",
                            "description": "최소대거래량 / 길이 10"
                          },
                          "csiz_notuse": {
                            "type": "integer",
                            "format": "int32",
                            "description": "약정단위 / 길이 10"
                          },
                          "ndpt": {
                            "type": "integer",
                            "format": "int32",
                            "description": "호가레벨 / 길이 10"
                          },
                          "adjv": {
                            "type": "number",
                            "format": "double",
                            "description": "가격조정계수값 / 길이 17"
                          },
                          "tval": {
                            "type": "number",
                            "format": "double",
                            "description": "틱가치 / 길이 17"
                          },
                          "pinc": {
                            "type": "number",
                            "format": "double",
                            "description": "최소가격변동폭 / 길이 17"
                          },
                          "uplp": {
                            "type": "number",
                            "format": "double",
                            "description": "상한가 / 길이 17"
                          },
                          "dnlp": {
                            "type": "number",
                            "format": "double",
                            "description": "하한가 / 길이 17"
                          },
                          "base": {
                            "type": "number",
                            "format": "double",
                            "description": "기준가 / 길이 17"
                          },
                          "clos_notuse": {
                            "type": "number",
                            "format": "double",
                            "description": "종가 / 길이 17"
                          },
                          "hipr_notuse": {
                            "type": "number",
                            "format": "double",
                            "description": "최고가 / 길이 17"
                          },
                          "hidy_notuse": {
                            "type": "string",
                            "description": "최고가일 / 길이 8"
                          },
                          "lopr_notuse": {
                            "type": "number",
                            "format": "double",
                            "description": "최저가 / 길이 17"
                          },
                          "lody_notuse": {
                            "type": "string",
                            "description": "최저가일 / 길이 8"
                          },
                          "hian_notuse": {
                            "type": "number",
                            "format": "double",
                            "description": "연중최고가 / 길이 17"
                          },
                          "hdan_notuse": {
                            "type": "string",
                            "description": "연중최고일 / 길이 8"
                          },
                          "loan_notuse": {
                            "type": "number",
                            "format": "double",
                            "description": "연중최저가 / 길이 17"
                          },
                          "ldan_notuse": {
                            "type": "string",
                            "description": "연중최저일 / 길이 8"
                          },
                          "opts": {
                            "type": "string",
                            "description": "옵션행사유형 / 길이 1"
                          },
                          "corp": {
                            "type": "string",
                            "description": "옵션유형 / 길이 1"
                          },
                          "atmf": {
                            "type": "string",
                            "description": "행사가능유무 / 길이 1"
                          },
                          "strk": {
                            "type": "number",
                            "format": "double",
                            "description": "행사가 / 길이 17"
                          },
                          "conv_notuse": {
                            "type": "number",
                            "format": "double",
                            "description": "전환비율 / 길이 17"
                          },
                          "impv_notuse": {
                            "type": "number",
                            "format": "double",
                            "description": "내재변동성 / 길이 17"
                          },
                          "levg_notuse": {
                            "type": "number",
                            "format": "double",
                            "description": "레버리지인수 / 길이 17"
                          },
                          "gear_notuse": {
                            "type": "number",
                            "format": "double",
                            "description": "레버리지 / 길이 17"
                          },
                          "delt_notuse": {
                            "type": "number",
                            "format": "double",
                            "description": "델타 / 길이 17"
                          },
                          "gama_notuse": {
                            "type": "number",
                            "format": "double",
                            "description": "감마 / 길이 17"
                          },
                          "vega_notuse": {
                            "type": "number",
                            "format": "double",
                            "description": "베가 / 길이 17"
                          },
                          "thet_notuse": {
                            "type": "number",
                            "format": "double",
                            "description": "세타 / 길이 17"
                          },
                          "lreg_notuse": {
                            "type": "integer",
                            "format": "int32",
                            "description": "품목등록임시변수 / 길이 10"
                          },
                          "kfrhm": {
                            "type": "string",
                            "description": "한국거래시작시간 / 길이 12"
                          },
                          "psect_notuse": {
                            "type": "string",
                            "description": "전일정산가구분코드 / 길이 2"
                          },
                          "psymd": {
                            "type": "string",
                            "description": "전일거래일자 / 길이 8"
                          },
                          "ppymd_notuse": {
                            "type": "string",
                            "description": "전전일거래일자 / 길이 8"
                          },
                          "pbase_notuse": {
                            "type": "number",
                            "format": "double",
                            "description": "전일기준가 / 길이 17"
                          },
                          "popen": {
                            "type": "number",
                            "format": "double",
                            "description": "전일시가 / 길이 17"
                          },
                          "phigh": {
                            "type": "number",
                            "format": "double",
                            "description": "전일고가 / 길이 17"
                          },
                          "plow": {
                            "type": "number",
                            "format": "double",
                            "description": "전일저가 / 길이 17"
                          },
                          "plast": {
                            "type": "number",
                            "format": "double",
                            "description": "전일체결가 / 길이 17"
                          },
                          "psetp": {
                            "type": "number",
                            "format": "double",
                            "description": "전일정산가 / 길이 17"
                          },
                          "psign_notuse": {
                            "type": "string",
                            "description": "전전일대비구분 / 길이 1"
                          },
                          "pdiff_notuse": {
                            "type": "number",
                            "format": "double",
                            "description": "전전일대비 / 길이 17"
                          },
                          "prate_notuse": {
                            "type": "number",
                            "format": "double",
                            "description": "전전일대비등락율 / 길이 17"
                          },
                          "ptvol": {
                            "type": "number",
                            "format": "double",
                            "description": "전일누적체결수량 / 길이 17"
                          },
                          "popin_notuse": {
                            "type": "integer",
                            "format": "int32",
                            "description": "전일미결제약정수량 / 길이 10"
                          },
                          "pcvol": {
                            "type": "number",
                            "format": "double",
                            "description": "전일누적거래량 / 길이 17"
                          },
                          "puymd_notuse": {
                            "type": "string",
                            "description": "전일업데이트일자 / 길이 8"
                          },
                          "puhms_notuse": {
                            "type": "string",
                            "description": "전일업데이트시간 / 길이 12"
                          },
                          "upvo_notuse": {
                            "type": "integer",
                            "format": "int32",
                            "description": "전일상승거래량 / 길이 10"
                          },
                          "dnvo_notuse": {
                            "type": "integer",
                            "format": "int32",
                            "description": "전일하락거래량 / 길이 10"
                          },
                          "upno_notuse": {
                            "type": "integer",
                            "format": "int32",
                            "description": "전일상승수량 / 길이 10"
                          },
                          "dnno_notuse": {
                            "type": "integer",
                            "format": "int32",
                            "description": "전일하락수량 / 길이 10"
                          },
                          "frhm": {
                            "type": "string",
                            "description": "거래시작시간 / 길이 12"
                          },
                          "tohm": {
                            "type": "string",
                            "description": "거래종료시간 / 길이 12"
                          },
                          "hfhm_notuse": {
                            "type": "string",
                            "description": "거래중단시작시간 / 길이 12"
                          },
                          "hthm_notuse": {
                            "type": "string",
                            "description": "거래중단종료시간 / 길이 12"
                          },
                          "fwdy": {
                            "type": "string",
                            "description": "주의거래시작일 / 길이 8"
                          },
                          "twdy": {
                            "type": "string",
                            "description": "주의거래종료일 / 길이 8"
                          },
                          "tfhm_notuse": {
                            "type": "string",
                            "description": "티세션시작시간 / 길이 12"
                          },
                          "feed_notuse": {
                            "type": "integer",
                            "format": "int32",
                            "description": "피딩아이디 / 길이 10"
                          },
                          "pymd": {
                            "type": "string",
                            "description": "전영업일 / 길이 8"
                          },
                          "tymd": {
                            "type": "string",
                            "description": "거래일자 / 길이 8"
                          },
                          "oymd": {
                            "type": "string",
                            "description": "장시작일 / 길이 8"
                          },
                          "cymd": {
                            "type": "string",
                            "description": "장종료일 / 길이 8"
                          },
                          "uymd": {
                            "type": "string",
                            "description": "업데이트일자 / 길이 8"
                          },
                          "uhms": {
                            "type": "string",
                            "description": "업데이트시간 / 길이 12"
                          },
                          "jchk_notuse": {
                            "type": "integer",
                            "format": "int32",
                            "description": "종목체크 / 길이 10"
                          },
                          "sind": {
                            "type": "integer",
                            "format": "int32",
                            "description": "행사가격소숫점자리수 / 길이 10"
                          },
                          "sad1": {
                            "type": "integer",
                            "format": "int32",
                            "description": "행사가격승수 / 길이 10"
                          },
                          "sad2": {
                            "type": "integer",
                            "format": "int32",
                            "description": "행사가격승수2 / 길이 10"
                          },
                          "sfmt": {
                            "type": "integer",
                            "format": "int32",
                            "description": "행사가격포맷 / 길이 10"
                          },
                          "sdiv": {
                            "type": "integer",
                            "format": "int32",
                            "description": "행사가격소숫점자릿수(내부용) / 길이 10"
                          },
                          "kymda1": {
                            "type": "string",
                            "description": "예비정산가수신일자 / 길이 8"
                          },
                          "khmsa1": {
                            "type": "string",
                            "description": "예비정산가수신시간 / 길이 12"
                          },
                          "datea1": {
                            "type": "string",
                            "description": "예비정산가일자 / 길이 8"
                          },
                          "basea1": {
                            "type": "number",
                            "format": "double",
                            "description": "예비정산가 / 길이 17"
                          },
                          "kymda2_notuse": {
                            "type": "string",
                            "description": "틱사이즈예비정산가수신일자 / 길이 8"
                          },
                          "khmsa2_notuse": {
                            "type": "string",
                            "description": "틱사이즈예비정산가수신시간 / 길이 12"
                          },
                          "datea2_notuse": {
                            "type": "string",
                            "description": "틱사이즈예비정산가일자 / 길이 8"
                          },
                          "basea2_notuse": {
                            "type": "number",
                            "format": "double",
                            "description": "틱사이즈예비정산가 / 길이 17"
                          },
                          "kymdb1": {
                            "type": "string",
                            "description": "실제정산가수신일자 / 길이 8"
                          },
                          "khmsb1": {
                            "type": "string",
                            "description": "실제정산가수신시간 / 길이 12"
                          },
                          "dateb1": {
                            "type": "string",
                            "description": "실제정산가일자 / 길이 8"
                          },
                          "baseb1": {
                            "type": "number",
                            "format": "double",
                            "description": "실제정산가 / 길이 17"
                          },
                          "kymdb2_notuse": {
                            "type": "string",
                            "description": "틱사이즈실제정산가수신일자 / 길이 8"
                          },
                          "khmsb2_notuse": {
                            "type": "string",
                            "description": "틱사이즈실제정산가수신시간 / 길이 12"
                          },
                          "dateb2_notuse": {
                            "type": "string",
                            "description": "틱사이즈실제정산가일자 / 길이 8"
                          },
                          "baseb2_notuse": {
                            "type": "number",
                            "format": "double",
                            "description": "틱사이즈실제정산가 / 길이 17"
                          },
                          "unps2": {
                            "type": "string",
                            "description": "기초자산코드2 / 길이 15"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/gbfuture/quote/v1/quote": {
      "post": {
        "tags": [
          "시세 (Market Data)"
        ],
        "operationId": "gbfutureQuoteQuote",
        "summary": "해외선물 호가",
        "description": "\n\n원본 시트: API_해외_파생_시세_호가",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "exnm": {
                        "type": "string",
                        "description": "거래소코드 / 길이 8 / FCME.CME지수선물 OOPR.OPRA주식옵션 OCME.CME지수옵션 FHKE.HKEX선물 OHKE.HKEX옵션"
                      },
                      "isym": {
                        "type": "string",
                        "description": "내부종목코드 / 길이 32"
                      }
                    },
                    "required": [
                      "exnm",
                      "isym"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "exnm": {
                            "type": "string",
                            "description": "거래소코드 / 길이 8"
                          },
                          "symb": {
                            "type": "string",
                            "description": "종목코드 / 길이 32"
                          },
                          "isym": {
                            "type": "string",
                            "description": "내부종목코드 / 길이 32"
                          },
                          "inrt": {
                            "type": "string",
                            "description": "내부루트종목코드 / 길이 32"
                          },
                          "pind": {
                            "type": "string",
                            "description": "가격표시자 / 길이 1"
                          },
                          "last": {
                            "type": "number",
                            "format": "double",
                            "description": "체결가격 / 길이 17"
                          },
                          "diff": {
                            "type": "number",
                            "format": "double",
                            "description": "전일대비 / 길이 17"
                          },
                          "sign": {
                            "type": "string",
                            "description": "전일대비구분 / 길이 1 / 0.보합 2.상승 5.하락"
                          },
                          "rate": {
                            "type": "number",
                            "format": "double",
                            "description": "전일대비등락율 / 길이 17"
                          },
                          "open": {
                            "type": "number",
                            "format": "double",
                            "description": "시가 / 길이 17"
                          },
                          "high": {
                            "type": "number",
                            "format": "double",
                            "description": "고가 / 길이 17"
                          },
                          "low": {
                            "type": "number",
                            "format": "double",
                            "description": "저가 / 길이 17"
                          },
                          "setp": {
                            "type": "number",
                            "format": "double",
                            "description": "정산가격 / 길이 17"
                          },
                          "pcls": {
                            "type": "number",
                            "format": "double",
                            "description": "전일종가 / 길이 17"
                          },
                          "tvol": {
                            "type": "number",
                            "format": "double",
                            "description": "누적체결수량 / 길이 17"
                          },
                          "cvol": {
[...]
